/*---------------------------
      Table of Contents
    -------------------------
    
    01- Global Styles
    02- Helper Classes
    03- Background & Colors
    04- Typography
    05- page title 
    06- Buttons
    07- Forms
    08- Tabs
    09- Icons
    
----------------------------*/

/*-------------------------- 
      Global Styles
---------------------------*/
body {
    color: $color-body;
    overflow-x: hidden;
    font-family: source-han-sans-japanese, sans-serif!important;
    font-style: normal;
}
html{
    font-size: 62.5%;
}
input,
select {
    font-size: 1.4rem!important;
    font-weight: 400;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}
.container {
    max-width: 1280px !important;
    padding: 0 !important;
}
section {
    position: relative;
    padding-top: 0;
    padding-bottom: 100px;
}

img {
    max-width: 100%;
    width: 100%;
}
.img--bonus {
    max-width: 109%!important;
    width: 109%!important;
}
li{
    list-style: none;
}
a{
    text-decoration: none!important;
}
a:focus{
    box-shadow: none!important;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}
html p{
    margin-bottom: 0;
    font-size: 0.9rem
}
.h-abs{
    position: absolute;
}
.small, small {
    font-size: 1.2em!important;
}
textarea{
    font-size: 1.4rem!important;
}
//show-hidden
.hidden{
    display:none!important;
    opacity: 0;
    visibility:hidden
}
.hidden-0{
    opacity: 0;
    visibility:hidden
}
.show{
    display:block!important
}
.overflow-hidden{
    overflow-y: hidden!important;
}
//background blur
.backgroundBlur{
    position: fixed;
    top:0;
    right: o;
    left:0;
    width: 100%;
    height: 100vh;
    background: #0000008f;
    z-index: 100;
}
//checkbox
body .checkbox > input {
    padding:0!important;
    height: 20px!important;
    width: 20px!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #34495E;
    border-radius:0;
    outline: none;
    transition-duration: 0.3s;
    background-color: #eeeeee;
    cursor: pointer;
    margin-top:0;
}
//font
.font_size_24{
    font-size: 24px;
}
.font_size_20{
    font-size: 20px;
}
.font_size_18{
    font-size: 18px;
}
.font_size_16{
    font-size: 16px;
}
.font_size_14 {
    font-size: 14px;
}
.font--s{
    font-size: $font-s!important;
}
.font--m{
    font-size: $font-m!important;
}
.font--l{
    font-size: $font-l!important;
}
.font--xl{
    font-size: $font-xl!important;
}
.font--xxl{
    font-size: $font-xll!important;
}
.font--b{
    font-weight: $font-bold!important;
}
.font--mb{
    font-weight: $font-mbold!important;
}
.font--sb{
    font-weight: $font-sbold!important;
}
.font--normal{
    font-weight: $font-normal-text !important;
}
.title--p{
    color:#444444;
}

//margin top
.mt--1{
    margin-top: 10px!important;
}
.mt--2{
    margin-top: 20px!important;
}
.mt--3{
    margin-top: 30px!important;
}
.mt--5{
    margin-top: 50px!important;
}
.mt--7{
    margin-top: 70px!important;
}
.mt--10{
    margin-top: 100px!important;
}
.mlr--auto{
    margin-left: auto!important;
    margin-right: auto!important;
}
//margin right
.mr--1{
    margin-right: 10px!important;
}
.mr--2{
    margin-right: 20px!important;
}
.mr--3{
    margin-right: 30px!important;
}
.mr--5{
    margin-right: 50px!important;
}
.mr--7{
    margin-right: 70px!important;
}
.mr--10{
    margin-right: 100px!important;
}
//padding
.p--0{
    padding: 0!important;
}
//text colors
.text--red{
    color:$color-red;
}
/*-------------------------
     RESET Default Styles
 --------------------------*/
* {
    outline: none;
}
.sd--none{
    box-shadow: none!important;
}
button {
    border: none;
    padding: 0;
}

button,
button:focus,
.form-control,
.form-control:focus {
    outline: none;
}

textarea {
    resize: none
}

select {
    background-color: transparent;
}

.main{
    min-height: calc(100vh - 586px);
}

@media (max-width:1025px){
    .font_size_24{
        font-size: 26px;
    }
    .font_size_20{
        font-size: 22px;
    }
    .font_size_16{
        font-size: 28px;
    }
    .font--s{
        font-size: $font-s!important;
    }
    .font--m{
        font-size: $font-s!important;
    }
    .font--l{
        font-size: $font-m!important;
    }
    .font--xl{
        font-size: $font-l!important;
    }
    .font--xxl{
        font-size: $font-xl!important;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .font_size_24 {
        font-size: 26px !important;
    }
    .font_size_20 {
        font-size: 22px !important;
    }
    .font_size_16 {
        font-size: 28px !important;
    }
    .main{
        min-height: calc(100vh - 64vw - 106px);
    }
}