// Sass Variables

$color-body: #ffffff;
$color-main1:#19a5b7;
$color-link:#57b8c4;
$color-pinkb:red;
$color-orange:#ff7b0d;
$color-yellow:#ffc812;
$color-yellow-m:#fbeb82;
$color-purple:#7d6caf;
$color-white:#ffffff;
$color-black:#000000;
$color-red:#ec1313;
$color-gray:#e4e4e4;
$color-warning:#f84b4b;
$font-normal-text:350;
$font-bold:700;
$font-mbold:600;
$font-sbold:500;
$font-normal-menu:400;
//shadow
$color-shadow-cyan:#006572;
$color-shadow-orange:#bf5700;
$color-shadow-purple:#534096;
$color-shadow-yellow:#ff9900;



// $font-heading:'Soure hans san jappanese' ,
// sans-serif;

// $font-body: 'Soure hans san jappanese',
// sans-serif;

$body-font-size: 1.6rem;
$font-s:1.8rem;
$font-m:2rem;
$font-l:2.4rem;
$font-xl:3rem;
$font-xll:3.5rem;