/*--------------------
   Buttons
---------------------*/
@mixin d-felx{
    display: flex;
    justify-content: center;
    align-items: center
}
@mixin back-color($color){
    background: $color!important;
}
@mixin shadow-color($color){
    box-shadow: 7px 8px 2px 2px $color!important;
}
@mixin shadow-color-click($color){
    box-shadow: 7px 6px 2px 1px $color!important;
}
.btn {
    text-transform: capitalize;
    position: relative;
    z-index: 1;
    text-align:center;
    color:$color-white!important;
    font-size: 1.6rem;
    font-weight: 600 !important;
    @include d-felx;
    &:focus,
    &.active,
    &:active {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
    }
    &__content {
        height: 100%;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        font-size: 1.2rem;
        font-weight: $font-bold;
        color:$color-white;
        img{
            width:1.2rem;
            margin-right:1.6rem;
        }
        
    }
}
button:disabled,
button[disabled]{
    background: grey !important;
    box-shadow: 4px 4px 3px 0px grey !important;
    opacity: 1;
    border-radius: 54px;
}
button:disabled > a,
button[disabled] > a {
    background: grey !important;
    box-shadow: 4px 4px 3px 0px grey !important;
    opacity: 1;
    pointer-events: none;
    cursor: default;
}
.input--alert{
    border:1px solid red;
}

.btn--cyan{
    border-radius: 54px!important;
    margin-bottom: 10px;
    @include back-color($color-main1);
    @include shadow-color($color-shadow-cyan);
}
.btn--cyan:active,.btn--cyan:focus{
    transform: translateY(2px);
    -webkit-transform:  translateY(2px);
    @include shadow-color-click($color-shadow-cyan);
}
.btn--purple{
    border-radius: 54px!important;
    margin-bottom: 10px;
    @include back-color($color-purple);
    @include shadow-color($color-shadow-purple);
}
.btn--purple:active,.btn--purple:focus{
    transform: translateY(2px);
    -webkit-transform:  translateY(2px);
    @include shadow-color-click($color-shadow-purple);
}
.btn--orange{
    border-radius: 54px!important;
    margin-bottom: 5px;
    @include back-color($color-orange);
    @include shadow-color($color-shadow-orange);
}
.btn--orange:active,.btn--orange:focus{
    transform: translateY(2px);
    -webkit-transform:  translateY(2px);
    @include shadow-color-click($color-shadow-orange);
}
.btn--yellow{
    border-radius: 54px!important;
    margin-bottom: 10px;
    @include back-color($color-yellow);
    @include shadow-color($color-shadow-yellow);
}
.btn--yellow--sdn{
    border-radius: 54px!important;
    margin-bottom: 10px;
    @include back-color($color-yellow);
}
.btn--yellow:active,.btn--yellow:focus{
    transform: translateY(2px);
    -webkit-transform:  translateY(2px);
    @include shadow-color-click($color-shadow-yellow);
}

.btn--b{
    padding:10px 100px!important;
}
.btn--bl{
    padding:15px 150px!important;
}
.btn--bbl{
    padding:15px 200px!important;
}
.btn--sm{
    padding:10px 70px!important;
}
.btn--img{
    position: relative;
    width:210px;
    height:57px;
    margin-left: 10px;
    >img{
        position:absolute;
        width:100%;
        height: 100%;
        top:0;
        left:0;
        z-index: -1;
    }
}
.input--right{
    margin:0 10px 0 10px ;
}
@media (max-width:1025px){
    .btn {
        font-size: 1.2rem!important;
        padding: 10px 10px !important;
    }
}
@media (max-width:750px){
    .btn {
        font-size: 2rem!important;
        padding: 10px 10px !important;
        width:100%!important;
    
    }
}
