/*--------------------
   Title color
---------------------*/
.title--alert{
    color:red!important;
}
.title--orange{
    color:$color-orange!important;
}
.title--black{
    color:$color-black!important;
}
.title--link{
    color:$color-main1!important;
}
.title--gray{
    color:#333333!important;
}