.footer{
    &__footer1{
        padding:20px;
        background:#f3f5f5;
        ul{
            margin:0;
            padding:0;
            a{
                color:$color-black;
                font-size:1.4rem;
            }
        }
        flex: 1;
        max-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__footer2{
        padding:15px;
        color:$color-white;
        background-color: #0098ab;
        flex: 1;
        max-height: 56px;
        h5 {
            font-size: 2rem;
        }
    }
    .container {
        background: url("./../img/banner/background-footer-pc.png") no-repeat center;
        height: 586px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer {
        .container {
            background: url(./../img/banner/background-footer-pc.png) no-repeat center;
            height: calc(64vw + 106px);
            background-size: 140%;
        }
        .footer__footer2 h5 {
            font-size: 16px !important;
        }
    }
}