/*----------------------------
      Navbar & Header
-----------------------------*/
.header {
    position: fixed;
    width:100%;
    top:0;
    left:0;
    z-index: 99;
    transition: 0.5s;
    .header-button {
        flex: 1;
    }
    .menu--show{
        display:block;
        margin-right: 15px;
        width: 32px;
    }
    .menu--hidden{
        display:none;
    }
    &__logo {
        width: 240px;
    }
}
.header .container{
    padding: 25px 60px 25px 60px !important;
}
.label__birthday{
    label{
        width:100%!important;
        margin-left:0!important
    }
}
.header-nav{
    padding: 0;
    justify-content:flex-end;
    margin-left: 30px;
    transition:0.5s;
    flex: 1 1 auto;
    &__list{
        margin-right: 21px;
        font-size: 1.8rem;
        display: flex;
        font-weight: 700;
        color:$color-black;
        img{
            width:1.8rem;
            margin-right: 5px;
            color:$color-main1;
        }
    }
    &__button{
        margin-top: 20px;
        width: 80%!important;
        display:none;
        .btn{
            height: 55px;
            &__content{
                font-size: 1.6rem;
            }
        }
    }
    &--show{
        transform: translateX(0)!important;
        display: flex!important;
    }
}
.header .hidden {
    display: none !important;
}
.header-button{
    display:flex;
}
.header-account {
    position:relative;
    &__img {
        width: 65px;
        float: right;
        cursor: pointer;
        margin:0 10px 0 30px;
    }
    .account-box {
        position: absolute;
        width: 330px;
        right: -27px;
        top: 90px;
        background:$color-white;
        box-shadow: 0px 0px 22px 5px #99999985;
        &__ul{
            padding:25px 30px;
            margin:0;
        }
        &__li{
            padding:7px;
            border-bottom:1px solid $color-yellow-m;
            a{
                color:$color-black;
                img {
                    width: 23px;
                    margin-right: 10px;
                }
            }
        }
        &::before{
            content: "";
            position: absolute;
            top: -19px;
            right: 56px;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 27px solid white;
        }
        li.account-box__li + li.account-box__li{
            margin-top:10px;
        }
    }

}
.header-menu{
    cursor: pointer;
    display: none;
    &__div{
        margin: 13px;
        border: 2px solid #2a2a2a;
        border-radius: 100px;
        width: 75px;
        height: 8px;
        background: #3a3939;
        transition: 0.3s;
    }
    &__close{
        display:none;
        transition: 0.3s;
    }
}
.navbar-scroll{
    box-shadow:0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: $color-white;
    z-index: 99;
    .container {
        padding: 10px 60px!important;
        transition: 0.5s;
    }
}

.sm-show{
    display:none
}

.headerLoginBtn-login-btn-icon {
    font-size: 26px;
}

.headerMobileMenu-login-btn-icon {
    font-size: 26px;
}

a.headerLoginBtn-done__button {
    width: 200px !important;
    height: 47px !important;
}

.headerLoginBtn-done__guide_button_img {
    width: 20px;
}
.headerLoginBtn-done__button + .headerLoginBtn-done__button {
    margin-right: 9px!important;
}
/*-------------
    Mobile     
--------------*/

@media (max-width:1025px) {
    .header .container{
        padding: 20px !important;
    }
    .header__logo{
        width:145px;
    }
    .header-button .btn--tutor,
    .header {
        display:none!important
    }
    .header-menu{
        display:block
    }
    .header-menu__div {
        width: 44px;
        height: 3px;
        margin: 7px;
    }
    .header-button .btn--img {
        position: relative;
        width: 140px!important;
        height: 40px;
    }
    .header-button .btn__content {
        padding-bottom: 7px;
        font-size: 0.7rem;
    }
    .header .sm-show{
        display:block ;
    }
    .header-nav {
        padding-top: 100px;
        margin-left:0;
        display:none;
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        z-index: -1;
        justify-content: start!important;
        align-items: end!important;
        transform: translateX(100%);
        padding-bottom: 60px;
    }
    a.header-nav__list {
        width: 80%;
        height:50px;
        display: flex;
        justify-content: left !important;
        border-bottom: 3px solid $color-main1;
        padding-bottom: 14px;
        font-size: 2rem;
        margin: 30px 0 0 0;
    }
    .icon-smaill{
        width: 30px;
        height:37px;
    }
    .header-nav__list img {
        width: 30px;
        margin-right: 15px;
    }
    .header-nav__button{
        display:block
    }

    a.headerLoginBtn-done__button.btn.btn--purple.btn--sign-in--close {
        width: 211px !important;
        height: 47px !important;
        padding: 3px 10px !important;
        margin: 0 10px 7px 0;
        box-shadow: 5px 5px 2px 1px #534096 !important;
    }

    a.headerLoginBtn-done__button.btn.btn--purple.btn--sign-in--close img{
        margin-right: 10px!important;
    }
    .banner__button a {
        height: 50px!important;
    }
    .header-account {
        flex: 1;
    }
    .header-account__img {
        width: 50px;
        margin: 0!important;
    }
    .header-account img{
        width:50px
    }
    .header-account .account-box {
        width: 302px;
        top: 80px;
        right: -45px;
    }
    .header__logo {
        width: 160px;
    }
    .header-account .account-box::before {
        right: 65px;
    }  
    .navbar-scroll {
        padding: 10px 0!important; 
    }
    a.header__button.contactForm-done__button{
        width:90%!important;
    }  

    .header-nav__button.header__button {
        width: 604px;
        height: 87px;
    }
    .header-nav_beginner_guide_img {
        width: 35px;
        height: 38px;
    }

}
@media (min-width: 320px) and (max-width: 767px) {
    .profileEdit .contactForm {
        padding-bottom: 250px!important;
    }
    a.headerLoginBtn-done__button.btn.btn--purple.btn--sign-in--close {
        width: 115px !important;
        height: 33px!important;
        font-size: 1rem !important;
    }

    .headerLoginBtn-login-btn-icon {
        font-size: 20px;
    }
    .header__logo {
        width: 130px !important;
    }
    .header-nav {
        padding-top: 70px;
    }
    a.header-nav__list {
        width: 80%;
        justify-content: left !important;
        border-bottom: 3px solid #19a5b7;
        padding-bottom: 15px;
        font-size: 2rem;
        font-weight: 600;
        margin: 15px 0 0 0;
    }
    .header-account .account-box {
        top: 60px;
        right: -40px;
    }
    .header-account img,
    .header-account__img{
        width:40px
    }
    .header-account .account-box::before {
        right: 45px;
    }
}

