.applyPR_fix{
    height: 460px;
    .applyPR_fixForm{
        transform: translate(0px, 40px);
    }
    .container-progress{
        width: 1050px;
        margin: 0px auto 40px;
    }
    .container_content{
        width: 500px;
        margin: 0px auto;
        text-align: center;
        .title,.content{
            width: 420px;
            margin: 0 auto;
        }
        .title{
            font-size: 30px;
            color: $color-orange;
            margin-bottom: 45px;
        }
        .content{
            line-height: 35px;
        }
        button{
            margin-top: 75px;
            background: no-repeat;
            a{
                display: inline-block;
                width: 500px;
                font-size: 30px;
                line-height: 47px;
                color: white;
                border-radius: 54px !important;
                background: #19a5b7;
                padding: 30px;
                box-shadow: 7px 8px 2px 2px #1D6774;
                &:active,&:focus{
                    transform: translateY(2px);
                    box-shadow: 7px 6px 2px 1px #1D6774;
                }
            }
        }
    }
}
@media (max-width: 1025px) {
    .applyPR_fix{
        height: auto;
        .applyPR_fixForm{
            transform: translate(0px, 25px);
        }
        .container-progress{
            width: 90vw;
        }
        .container_content{
            width: 85vw;
            .title,.content{
                width: fit-content;
            }
            .title{
                font-size: 40px;
                margin-bottom: 45px;
            }
            .content{
                .font_size_20{
                    font-size: 30px !important;
                }
                line-height: 50px;
            }
            button{
                margin-top: 80px;
                a{
                    width: 85vw;
                    font-size: 35px;
                    line-height: 39px;
                }
            }
        }
    }
}

@media (min-width: 350px) and (max-width: 749px){
    .applyPR_fix{
        .container_content{
            .title{
                font-size: 22px;
                margin-bottom: 45px;
            }
            .content{
                line-height: 40px;
                .font_size_20{
                    font-size: 18px !important;
                }
            }
            button{
                margin-top: 60px;
                a{
                    font-size: 24px;
                    padding: 20px;
                }
            }
        }
    }
}