.applyPR_conf{
    height: 470px;
    .applyPR_confForm{
        transform: translate(0px, 40px);
    }
    .container-progress{
        width: 1050px;
        margin: 0px auto 40px;
    }
    .container_content{
        width: 1020px;
        margin: 0px auto;
        .detail_title,
        .detail_content{
            border-bottom: 1px solid rgb(118, 118, 118);
            padding-bottom: 10px;
            padding-top: 5px;
            margin: 0;
            .blue_text{
                color: #19a5b7;
                width: 15%;
                padding: 0;
            }
            .black_text{
                padding: 16px;
                width: 85%;
                padding-right: 20px;
            }
        }
        .button{
            justify-content: space-around;
            margin-top: 25px;
            button{
                background: no-repeat;
            }
            .prev{
                a{
                    width: 310px;
                    padding: 20px;
                    border: 2px solid black;
                    border-radius: 54px !important;
                    margin-bottom: 5px;
                    background: #e4e4e4;
                    color: black;
                    font-size: 25px;
                }
            }
            .next{
                a{
                    width: 445px;
                    padding: 25px;
                    font-size: 29px;
                }
            }
        }
    }
}
@media (max-width: 1025px){
    .applyPR_conf{
        height: auto;
        .applyPR_confForm{
            transform: translate(0px, 25px);
        }
        .container-progress{
            width: 90vw;
        }
        .container_content{
            width: 90vw;
            .detail_title,
            .detail_content{
                .blue_text{
                    width: 100%;
                    font-size: 30px !important;
                }
                .black_text{
                    width: 100%;
                    font-size: 24px !important;
                }
            }
            .detail_content .black_text{
                line-height: 45px;
                padding-left: 0px;
            }
            .button{
                justify-content: center;
                flex-direction: column;
                margin-top: 60px;
                .prev{
                    a{
                        width: 80vw !important;
                        display: inline-block;
                        font-size: 35px;
                        line-height: 39px;
                    }
                }
                .next{
                    margin-top: 35px;
                    a{
                        width: 80vw !important;
                        padding: 25px !important;
                        font-size: 35px !important;
                        line-height: 39px;
                    }
                }
            }
        }
    }
}
@media (min-width: 350px) and (max-width: 749px){
    .applyPR_conf{
        .container_content{
            .detail_title,
            .detail_content{
                .blue_text{
                    font-size: 15px !important;
                    line-height: 40px;
                }
                .black_text{
                    font-size: 12px !important;
                    padding-top: 0px;
                    line-height: 30px;
                }
            }
            .button{
                justify-content: center;
                flex-direction: column;
                margin-top: 30px;
                .prev{
                    a{
                        padding: 10px;
                        font-size: 18px;
                    }
                }
                .next{
                    margin-top: 20px;
                    a{
                        padding: 10px !important;
                        font-size: 20px !important;
                    }
                }
            }
        }
    }
}