.line_height_60{
    line-height: 60px;
}
.line_height_30{
    line-height: 30px;
}
.applyPR{
    height: 910px;
    .applyPRForm{
        transform: translate(0px, 40px);
    }
    .container-progress{
        width: 1050px;
        margin: 0px auto 40px;
    }
    .container_content{
        width: 1050px;
        margin: 0px auto;
        .detail{
            background: $color-gray;
            padding: 10px 25px;
            .detail_header{
                padding: 25px 0px;
            }
            .detail_content{
                padding-bottom: 20px;
            }
        }
        .formPR{
            padding: 50px 15px 0px 15px;
            .row{
                margin: 0;
                label{
                    width: 22%;
                    padding: 0px;
                }
                textarea{
                    width: 78%;
                    height: 160px;
                    border: 1px solid rgb(118, 118, 118);
                    padding-left: 25px;
                }
            }
            .form-check{
                input{
                    float: unset;
                    height: 18px;
                }
                label{
                    font-size: 14px;
                }
                a{
                    color: $color_link;
                    padding: 0px 5px;
                    i{
                        padding: 0px 5px;
                    }
                }
            }
            button{
                a{
                    width: 500px;
                    line-height: 47px;
                    font-size: 29px !important;
                    font-weight: 700 !important;
                    padding: 30px !important;
                }
            }
        }
        .content_title{
            color: #19a5b7;
        }
    }
}
@media (max-width: 1025px) {
    .applyPR{
        height: auto;
        .applyPRForm{
            transform: translate(0px, 25px);
        }
        .line_height_30{
            line-height: 40px;
        }
        .container-progress{
            width: 90vw;
        }
        .container_content{
            width: 90vw;
            .detail{
                padding: 10px 17px;
                .font_size_{
                    &20,
                    &16{
                    font-size: 24px !important;
                    }
                }
                .detail_header{
                    padding: 25px 15px;
                }
                .detail_content{
                    padding: 0px 15px;
                    padding-bottom: 25px;
                }
            }
            .formPR{
                padding: 50px 0px 0px 0px;
                .font_size_16{
                    font-size: 24px !important;
                }
                .row{
                    label{
                        width: 100%;
                        p{
                            display: inline-block;
                        }
                    }
                    textarea{
                        margin-top: 23px;
                        width: 100%;
                        height: 197px;
                    }
                }
                .form-check{
                    margin: 30px auto;
                    input{
                        height: 36px;
                        width: 36px !important;
                    }
                    label{
                        font-size: 30px;
                        line-height: 45px;
                    }
                }
                button{
                    a{
                        width: 80vw;
                        line-height: 39px;
                        font-size: 35px !important;
                        padding: 28px !important;
                    }
                }
            }
            .content_title{
                font-size: 30px !important;
            }
        }
    }
}

@media (min-width: 350px) and (max-width: 749px){
    .applyPR{
        .container_content{
            .detail{
                padding: 5px 10px;
                .font_size_{
                    &20,
                    &16{
                    font-size: 12px !important;
                    line-height: 25px;
                    }
                }
                .detail_header{
                    padding: 15px 1px;
                }
                .detail_content{
                    padding: 0px 0px;
                    padding-bottom: 15px;
                }
            }
            .formPR{
                padding: 20px 0px 0px 0px;
                .font_size_16{
                    font-size: 12px !important;
                }
                .row{
                    textarea{
                        margin-top: 23px;
                        width: 100%;
                        height: 197px;
                    }
                }
                .form-check{
                    margin: 10px auto;
                    input{
                        height: 20px;
                        width: 20px !important;
                    }
                    label{
                        font-size: 14px;
                    }
                }
                button{
                    a{
                        width: 80vw;
                        line-height: 20px;
                        font-size: 20px !important;
                        padding: 15px !important;
                    }
                }
            }
            .content_title{
                font-size: 15px !important;
                line-height: 40px;
            }
        }
    }
}