.changePassword{
    .changePasswordForm{
        transform: translate(0%, 149px);
    }
    .changePassword__title{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .changePassword-title{
        margin-top: 37px;
    }
    label.font_size_16 {
        line-height: 60px;
        font-weight: $font-normal-menu;
    }
    input,
    input::-webkit-input-placeholder {
        font-size: 14px;
        padding-top: 17px;
        padding-bottom: 13px;
        height: auto !important;
    }
    form{
        width: 64vw;
        max-width: 820px;
        .form-list{
            margin-bottom: 25px;
            .col-lg-3 {
                width: 25% !important;
                padding: 0;
            }
            .form-list__input {
                width: 75% !important;
                padding: 0;
            }
        }
    }
    .changePassword__button{
        margin-top: 25px;
        a{
            width: fit-content !important;
            padding: 19px 120px;
            font-size: 3rem!important;
        }
    }
}
button.changePassword__button.button__submit.mt-3 {
    width: 100%;
}
@media (max-width:1025px){
    .changePassword{
        .changePasswordForm{
            transform: translate(0%, 100px);
        }
        .contactForm-done__title{
            width: 90vw;
            font-size: 30px !important;
            font-weight: $font-normal-menu !important;
        }

        .changePassword-title{
            margin-top: 29px;
        }

        .contactForm-done__content{
            width: 90vw;
            font-size: 27px !important;
            margin-top: 25px !important;
        }

        .changePassword-title{
            margin-bottom: 0px;
        }

        form{
            width: 95vw;

            .form-list{
                margin-bottom: 34px !important;

                .col-lg-3 {
                    width: 100% !important;
                    padding: 0;
                    margin-bottom: 20px;
                }

                .form-list__input {
                    width: 100% !important;
                    padding: 0;
                }
            } 
        }

        input,
        input::-webkit-input-placeholder {
            font-size: 24px;
            padding-top: 24px;
            padding-bottom: 19px;
            height: auto !important;
        }

        label.font_size_16 {
            line-height: 40px;
            font-size: 22px !important;
            margin-bottom: 0;
        }
  
        .changePassword__button{
            a{
                width: 80vw !important;
                padding: 24px 155px !important;
                font-size: 22px !important;
            }
        }
    }
}
@media (min-width: 350px) and (max-width: 749px){
    .main.changePassword{
        min-height: 500px;
        height: calc(100vh - 64vw - 106px);
    }
    .changePassword{
        .changePassword-title {
            margin-top: 10px;
        }
        .contactForm-done__title {
            font-size: 18px !important;
            font-weight: 600 !important;
        }
        .contactForm-done__content{
            font-size: 16px !important;
            margin-top: 0px !important;
        }
        form{
            margin-top: 15px !important;
            .form-list{
                margin-bottom: 20px !important;

                .col-lg-3 {
                    margin-bottom: 0px;
                }

                .form-list__input {
                    width: 100% !important;
                    padding: 0;
                }
            } 
        }
        label.font_size_16,
        input,
        input::-webkit-input-placeholder {
            line-height: 0px;
            font-size: 16px !important;
            margin-bottom: 0;
        }
        input,
        input::-webkit-input-placeholder {
            padding-top: 13px;
            padding-bottom: 10px;
        }
        .changePassword__button{
            margin-top: 20px;
            a{
                padding: 0.375rem 0.75rem !important;
                font-size: 18px !important;
            }
        }
    }
}