.changedPasswordCompleted{
    .changedPasswordCompletedForm{
        transform: translate(0%, 149px);
    }
    .changedPasswordCompleted__title{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .contactForm-done__title{
        margin-top: 37px;
        line-height: 45px;
    }
    .button__submit a{
        width: 551px;
        padding: 20px 0px !important;
        font-weight: $font-normal-menu !important;
        font-size: 3rem!important;
    }
}
@media (max-width:1025px){
    .changedPasswordCompleted{
        .changedPasswordCompletedForm{
            transform: translate(0%, 120px);
        }
        .button__submit a{
            width: 80vw !important;
        }
        .contactForm-done__title{
            margin-top: 25px;
            font-size: 32px !important;
        }
        .button__submit a{
            font-size: 32px;
            padding: 25px !important;
        }
    }
}
@media (min-width: 350px) and (max-width: 749px){
    .main.changedPasswordCompleted{
        min-height: 500px;
        height: calc(100vh - 64vw - 106px);
    }
    .changedPasswordCompleted{
        .changedPasswordCompletedForm{
            transform: translate(0%, 100px);
        }
        .contactForm-done__title{
            width: 95vw;
            font-size: 2rem!important;
        }
        button.button__submit{
            margin-top: 25px!important;
            a{
                font-size: 2rem!important;
                padding: 10px !important;
            }
        }
    }
}