

/*----------------------------
      CONTACT FORM
-----------------------------*/
.contactPage{
    position: relative;
    .container{
        max-width:1050px!important;
        .row{
            margin: 20px auto;
        }
    }
    .title--width {
        width: 69%;
        margin: 11px auto 0 auto;
    }
    .contactForm{
        label{
            margin-left: 20px;
            width: 72px;
        }
        label.label--l {
            width: 128px!important;
        }
        .form-list{
            .row {
                margin-bottom: 15px;
                align-items:center;
            }
            &__input{
                input {
                    width: 220px;
                }
            } 
        }
        &__button {
            margin-top: 20px;
            a{
                height: 90px;
                display: flex;
            }
        }
    } 
}
.contactPage + footer.footer .container {
    background: none;
    height: 106px;
}

.contactForm{
    position: relative;
    padding-top:150px;
    padding-bottom: 450px;
    background: url("./../img/banner/background-footer-pc.png") no-repeat center;
    background-position-y: bottom;
    label {
        font-size: 1.6rem;
        font-weight: 400;
    }
    span {
        color: $color-white;
        background: $color-warning;
        padding: 0px 13.5px;
        border-radius: 6px;
        font-size: 1.4rem;
        padding-bottom: 1px;
        font-weight: bold;
        margin-left: 25px;
    }
    &__rules{
        font-size: 1.4rem;
        font-weight: 700;
        justify-content: center;
        input{
            width: 16px;
            height: 16px;
        }
        a{
            margin: 0 10px;
            color:$color-main1!important;
            img{
                width: 25px;
            }
        }
    }
    &__button{
        display: block;
        margin: 50px auto;
        background: transparent;
        a{
            width: 500px;
        }
    }
    &__title{
        margin-bottom: 0;
    }
}
.container-progress{
    margin-bottom: 41px;
    &__step {
        position: relative;
        width: 33.3333%;
        height:70px;
        padding:30px;
        text-align: center;
        background: $color-gray;
        margin: auto;
        &::after,
        &::before{
            content: "";
            position: absolute;
            height: 100%;
            width: 18px;

        }
        &::after {
            right: -23px;
            top: -10px;
            border-top: 45px solid transparent;
            border-bottom: 45px solid transparent;
            border-left: 23px solid #ffffff;
            z-index: 7;
        }
        &::before {
            right: -17px;
            top: 0;
            border-top: 35px solid transparent;
            border-bottom: 35px solid transparent;
            border-left: 18px solid #e4e4e4;
            z-index: 9;
        }
        h4{
            font-weight:800;
            font-size: 2.5rem;
            margin-bottom: 0;
            letter-spacing: -2px;
        }
        h6{
            margin-left: 25px;
            font-size: 1.8rem;
            font-weight: bold;
            margin-bottom: 0;
        }
    }
    &__step:nth-child(3){
        &::after,
        &::before{
            display:none;
        }
    }
    .active{
        background:$color-main1;
        color:$color-white;
        &::before {
            border-left: 18px solid $color-main1;
        }
    }
}
.form-list{
    margin-bottom:25px;
    &__input{
        input,textarea,select{
            height:45px;
            padding: 10px 15px;
        }
        a{
            color:$color-main1;
            font-weight: 400;
            font-size: 1.4rem;
        }
        input:nth-child(2){
            margin-left:35px
        }
        a{
            margin: 0 10px;
            img{
                width: 20px;
            }
        }
    }
}
.contactPage + footer.footer .container {
    background:none;
    height:106px;
}
/*-------------
    Mobile
--------------*/

@media (max-width:1025px){
    .contactPage .title--width {
        width: 100%;
        margin: 11px auto 0 auto!important;
    }
    .contactPage .container {
        max-width: 95% !important;
    }
    .contactForm {
        padding-top: 100px;
        padding-bottom: 170px;
        background: url(./../img/banner/background_contactForm-mobile.png) no-repeat center;
        background-position-y: bottom;
        background-size: contain;
    }
    .container-progress__step {
        flex-direction: column;
        padding: 0;
        justify-content: center;
    }
    .contactForm label {
        font-weight: bold!important;
        margin-bottom: 5px;
        font-size: 1.6rem!important;
    }
    .contactPage .contactForm label.label--l {
        width: 160px !important;
    }
    .form-list.row {
        margin-top: 10px;
    }
    .contactPage .contactForm label {
        margin-left: 0;
        width: 100px;
    }
    .form-list__input input:nth-child(2) {
        margin-left: 25px;
    }
    .input--flex{
        width:50%;
    }
    .input--full{
        width:100%!important;
    }
    .container-progress__step + .container-progress__step{
        padding-left: 20px;
    }
    .container-progress__step h6 {
        margin-left: 0;
    }
    .contactForm-done__title {
        font-size: 1.8rem!important;
    }
    .contactForm-done__content {
        font-size: 1.6rem!important;
    }
    a.contactForm-done__button.btn.btn--orange.font--xl.font--b {
        font-size: 2.5rem!important;
    }
}
@media (max-width:750px){
    .contactPage .contactForm label {
        margin-left: 0;
        width: 70px!important;
    }
    .contactPage .contactForm .form-list__input input {
        width: 50%;
    }
    .contactForm label {
        margin-top: 10px;
    }
    .contactPage .contactForm__button {
        width: 90%;
    }
    .contactPage .contactForm__button a {
        height: 55px;
    }
    .contactForm__rules {
        width: 90%;
        margin: auto;
        flex-flow: wrap;
        justify-content:start!important;
    }
    .container-progress__step h4{
        font-size: 2rem;
    }
    .container-progress__step h6{
        font-size: 1.2rem;
        margin-top: 5px;;
    }
    .contactForm__rules a{
        margin: 0 5px;
    }

    .contactPage .contactForm label.label--l {
        width: 140px !important;
    }
    .contactForm span {
        padding: 2px 16px;
        font-size: 1.1rem;
        padding-bottom: 5px;
        margin-bottom: 2px;
    }
    a.contactForm-done__button.btn.btn--orange.font--xl.font--b {
        font-size: 2rem !important;
    }
    .container-progress{
        margin-bottom: 20px;
    }
}
@media (max-width:400){
    .contactPage .contactForm label {
        width: 75px!important;
    }
}
