/*----------------------------
CONTACT INPUT
--------------------------*/
.contactConfirm{
    position: relative;
    .container{
        max-width:1050px!important;
        .row{
            margin: 20px auto;
        }
        .container-progress {
            margin-bottom: 30px;
        }
    }
    .title--width {
        width: 69%;
        margin: 11px auto 0 auto;
    }
    &__button {
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        a{
            align-items:center;
            height: 87px;
            display: flex;
        }
        .contactConfirm-button{
            &__change{
                margin-top: 15px;
                border:3px solid #333!important;
                background:#e4e4e4;
                border-radius:50px;
                width:315px;
                height: 85px;
                display: flex;
                justify-content:center;
                align-items: center;
                a{
                    color:#333!important;
                }
            }
            &__send{
                background:transparent!important;
                width:455px;
                
            }
        }
    }
    .contactForm{
        padding-bottom: 500px;
        label{
            margin-left: 20px;
        }
        .form-list{
            margin: 0;
            padding: 20px 0;
            border-bottom: 2.5px solid #E5E5E5;
            .row {
                margin-bottom: 15px;
                align-items:center;
            }
            p{
                font-size:1.6rem;
            }
        }
    } 
}
.contactConfirm + footer.footer .container {
    background:none;
    height:106px;
}



/*----------------------------
MEDIA SCREEN
--------------------------*/

/*--------------table------------*/

@media (max-width: 1250px){
    .contactConfirm {
        .container {
            max-width: 95% !important;
        }

    }
    main.main.contactConfirm .contactForm {
        padding-bottom: 500px;
    }
    .contactConfirm label {
        margin-left: 0!important;
        margin-bottom: 5px;
        font-size: 1.6rem !important;
        font-weight: 700!important;
    }
    .contactConfirm .contactForm .form-list {
        padding: 20px 0 15px 0!important;
    }
    .contactConfirm .contactForm .form-list p {
        font-size: 1.6rem;
        padding: 0 5px;
    }
    .contactConfirm__button .contactConfirm-button__change {
        width: 244px;
        height: 80px;
        a{
            font-size:2rem!important
        }
    }
    button.contactConfirm-button__send {
        height: 83px;
        width:350px!important
    }
}

/*--------------mobile------------*/

@media (max-width: 750px){
    .contactConfirm .container-progress{
        margin-bottom:10px
    }
    .contactConfirm .contactForm .form-list {
        padding: 15px 0 15px 0!important;
    }
    .contactConfirm__button.mt--3 {
        flex-direction: column;
    }
    button.contactConfirm-button__send {
        width:85%!important;
        a{
            height: 60px!important;
        }
    }
    .contactConfirm__button .contactConfirm-button__change {
        margin-top: 0;
        width: 85%;
        height: 65px;
        a{
            font-size:2rem!important
        }
    }
    main.main.contactConfirm .contactForm {
        padding-bottom: 200px;
    }
    .contactConfirm .title--width {
        width: 100%!important;
        margin: 11px auto 0 auto!important;
    }
}