/*----------------------------
      CONTACTFIX
-----------------------------*/
.contactFix{
    position: relative;
    .container{
        max-width:1050px!important;
        .row{
            margin: 20px auto;
        }
    }
    .title--width {
        width: 69%;
        margin: 11px auto 0 auto;
    }
    .contactForm{
        label{
            margin-left: 20px;
            width: 72px;
        }
        label.label--l {
            width: 128px!important;
        }
        .form-list{
            .row {
                margin-bottom: 15px;
                align-items:center;
            }
            &__input{
                input {
                    width: 220px;
                }
            } 
        }
    } 
    &__button {
        margin-top: 20px;
        a {
            width: 500px;
            height: 90px;
            display: flex;
        }
    }
}
.contactFix + footer.footer .container {
    background: none;
    height: 106px;
}


.contactForm-done{
    &__title{
        color:$color-orange;
    }
    &__content{
        margin-top: 30px;
    }
}
@media (max-width: 1025px){
    .contactFix .contactForm {
        padding-bottom: 300px;
    }
    .contactFix .container {
        max-width: 95% !important;
    }
    .contactFix .title--width {
        width: 100%;
        margin: 11px auto 0 auto!important;
    }
}
@media (max-width: 750px){
    .contactFix .contactForm {
        padding-bottom: 227px!important;
    }
    .contactFix__button {
        width: 90%;
        margin-top: 0;
    }
    .contactFix__button a {
        height: 53px;
    }
    .contactFix .contactForm-done__content, small {
        font-size: 1.6rem!important;
    }
    .contactForm-done__title {
        font-size: 2rem!important;
    }
}