.changedPassword{
    .changedPassword-box{
        background: white;
        padding: 18px 31px;
        margin-top: 40px;
        border: 3px solid #80808040;
        font-size: 14px;
    }
    .changedPasswordForm{
        transform: translate(0%, 149px);
    }
    .changedPassword__title{
        margin-top: 0px;
    }
    .changedPassword-done__title{
        &-1{
            font-size: 27px;
        }
        &-2{
            line-height: 40px;
        }
    }
    div.row{
        width: 765px;
    }
}
.main.temporaryentry {
    min-height: 536px;
    height: calc(100vh - 586px);
}
.temporaryentry{
    .mb-40{
        margin-bottom: 40px;
    }
    .changedPassword__title{
        margin-bottom: 0px;
    }
    .changedPassword-box{
        padding: 20px 35px;
        line-height: 30px;
        margin-top: 30px;
    }
    .none{
        display: block;
    }
    .changedPassword-done__title{
        &-1{
            margin: 25px auto;
        }
    }
    .contactForm-done__content{
        margin-top: 20px;
    }
    &+.footer .container{
        background-position-y: 30px;
    }
}

@media (max-width:1025px){
    .main.temporaryentry{
        .mb-40{
            margin-bottom: 20px;
        }
        .none{
            display: none;
        }
        .changedPassword-done__title{
            &-1{
                font-size: 40px;
                margin: 10px auto;
            }
            &-2{
                margin: 20px auto;
                font-size: 27px !important;
            }
        }
        .contactForm-done__content{
            margin-top: 20px;
        }
        .changedPassword-box{
            font-size: 21px;
            width: 90vw !important;
            padding-bottom: 25px;
        }
    }
    .changedPassword{
        .changedPasswordForm{
            transform: translate(0%, 100px);
        }
        .topPage--title{
            margin-bottom: 0px;
        }
        .changedPassword-done__title{
            &-1{
                width: 70vw;
                font-size: 32px;
                margin-top: 25px;
            }
            &-2{
                width: 65vw;
                line-height: 40px;
                margin-top: 30px;
            }
        }
        div.row{
            width: 90vw !important;
        }
        .changedPassword-box{
            font-size: 20px;
            line-height: 35px;
        }
    }
}
@media (min-width: 350px) and (max-width: 749px){
    .main.temporaryentry,
    .main.forgotPassword{
        min-height: 420px;
        height: calc(100vh - 64vw - 106px);
    }
    .main.temporaryentry,
    .changedPassword{
        .changedPassword-box{
            padding: 5px 15px;
            margin-top: 1.6rem;
        }
        .changedPassword-done__title{
            &-1{
                width: 90vw;
                font-size: 20px;
            }
            &-2{
                width: 80vw;
                font-size: 16px !important;
                line-height: unset;
                margin: auto;
            }
        }
        div.row{
            width: 90vw !important;
        }
        .changedPassword-box{
            font-size: 14px;
            line-height: unset;
        }
    }
}