/*----------------------------
      entryInfo FORM
-----------------------------*/
.entryInfo{
    position: relative;
    .entryInfo-skill {
        label{
            margin-left: 0!important;
        }
    }
    .container{
        max-width:1050px!important;
    }

    .form-list.row {
        display: flex;
        align-items: center;
    }
    .title--width {
        width: 69%;
        margin: 64px auto 0 auto;
    }
    .contactForm{

        label{
            margin-left: 20px;
            width: 105px;
            font-weight: 400;
        }
        label.label--l {
            width: 128px!important;
        }
        .form-list{
            margin-bottom: 20px!important;
            .row {
                margin-bottom: 10px;
                align-items:center;
            }
            &__input{
                input {
                    width: 220px;
                }
            } 
        }
    } 
    .contactForm {
        padding-top: 100px;
        padding-bottom: 500px;
        background-size: 110%!important;
        span{
            margin-left: 0;
        }
    }
    
    .form-list__input{
        label{
            font-size: 1.4rem;
        }
    }
    &__button{
        background:none;
        a{
            width: 505px;
            height: 90px;
            display: flex;
            margin: auto;
            padding: 0!important;
            font-size: 2.9rem !important;
        }
    }
    .contactForm-done{

        &__content{
            margin-left: 15px;
        }
    }
    p,a,small{
        font-size:1.4rem;
    }
    
}
.form-list__input--check {
    flex-wrap: wrap;
    > div {
        label{
            width: auto!important;
            margin-left: 5px!important
        }
    }
}
.entryInfo-skill,
.label__url {
    padding-left: 20px!important;
}
.entryInfo-title{
    letter-spacing: 3px;
    &__info{
        margin-top:40px
    }
}
.check--box{
    width:15px;
    height:15px;
}
.entryInfo-thumb{
    width:115px;
    height:115px;
    margin-right: 30px;
    background:$color-yellow;
    border-radius:100px;
    img{
        width:70%;
    }
}
.entryInfo input#password{
    margin-right: 20px;
}
.entryInfo .contactForm-done__content {
    margin-left: 0;
}
.file-uploader {
  flex: 0 1 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 5px;
}
  #file-input {
    display: none;
  }
  label[for="file-input"] {
    margin: 10px 0!important;
    padding: 0.5em 2em;
    flex: 1 1 auto;
    text-align: center;
    color: #131313;
    border-radius: 7px!important;
    border: 1px solid;
    background-color: #f9fafb;
    cursor: pointer;
  }
  
  .image-preview {
    margin: 0 0 1.6rem;
    min-height: 250px;
    flex: 1 0 75%;
    background-color: #c1c1c1;
  }

.p-m{
    margin:0 13px;
}
.entryInfo .form-list__input label {
    font-size: 1.4rem;
    height: 45px;
    display: flex;
    align-items: center;
}
.form-button__upload label {
    width: 100%!important;
}
label.password__label {
    margin: 0!important;
}
.accordion {
    max-width: 100%;
    width: 100%;
    .accordion-item {
        border:none;
      .accordion-title {
        padding: 1rem 1.6rem;
        font-size: 1.4rem!important;
        background-color: $color-yellow-m;
        cursor: pointer;
        margin-top: 0.5rem;
        position: relative;
        border-radius: 5px;
        &:hover {
          background-color: $color-yellow;
        }
  
        &:after {
            content: "";
            background: url(./../img/icons/arrow-up.png) no-repeat center;
            position: absolute;
            top: 12px;
            right: 1.6rem;
            width: 20px;
            height: 20px;
        }
      }
  
      .accordion-content {
        position: relative;
        height: 0;
        opacity: 0;
        overflow: hidden;
        overflow-y: hidden;
        border-left: 2px solid white;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
  
        p {
          font-size: 1.25rem;
          line-height: 1.4;
          font-weight: 300;
          margin: 0;
          padding: 1.6rem;
        }
        >div{
            label{
                width: auto!important;
                margin-left: 0!important;
            }
        }
      }
  
      &.active {
        .accordion-title {
          background-color: $color-yellow-m;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          &:after {
            transform: rotate(180deg);
          }
        }
        .accordion-content {
            height: 61px;
            border-right: 8px solid $color-yellow-m;
            border-bottom: 12px solid $color-yellow-m;
            border-left: 8px solid $color-yellow-m;
            border-top: 8px solid $color-yellow-m;
            border-radius: 5px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            opacity: 1;
            margin-bottom: 1.6rem;
            display: flex;
            justify-content: left;
            align-items: center;
        }
      }
    }
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'ファイルを選択';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    padding: 5px 35px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
  .form-list{
      &__upImg {
        width: 70px;
        height: 70px;
        background: $color-yellow;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width:70%
        }
    }
    &__content{
        margin-top:0!important;
    }
}
input[type="checkbox"] {
    width: 18px!important;
}
.form-list__Img label,
.label--100{
    margin:0!important;
    width:210px!important
}
.form-button__upload {
    width: 174px!important;
    padding: 0!important;
    label {
        background: #eeeeee;
    }
}
.entryInfo select {
    background: $color-white;
}
.form-list__right label {
    margin-left: 10px!important;
    font-size: 1.6rem!important;
    font-weight:500;
}
.label__url--2{
    width:270px
}
.entryInfo .contactForm{
    padding-top: 100px;
    span {
        margin-left: 0;
    }
}
.entryInfo .form-list__input label {
    font-size: 1.4rem;
}
// .entryInfo .contactForm label {
//     margin: 0 10px;
// }
label.entryInfo__label {
    width: 95px;
}
.entryInfo + footer.footer .container {
    background:none;
    height:106px;
}


/*----------------------------
mobile and tablet
--------------------------*/

@media (max-width:1025px){
    .entryInfo .title--width{
        width:100%!important;
        margin: 64px auto 0 auto!important;
    }
    .entryInfo .container {
        max-width: 95% !important;
    }
    .entryInfo .contactForm {
        padding-top: 50px;
    }
    .entryInfo .form-list__input {
        margin-left: 0!important;
    }
    main.main.entryInfo label {
        margin: 0;
    }
    .entryInfo .contactForm .form-list__input input {
        width: 100%!important;
    }
    .entryInfo__title {
        font-size: 20px!important;
        margin-left: 20px!important;
    }
    
    .entryInfo-thumb {
        width: 75px;
        height: 75px;
    }
    .form-list__input {
        margin-top: 5px!important;
        
    }
    .form-birthday__year {
        margin-left: 0;
    }
    .entryInfo input,
    .entryInfo select {
        padding-left: 10px!important;
    }
    
    .form-list__input--check > div {
        width:100%;
        display: flex;
        justify-content: start!important;
        align-items: center;
    }
    .entryInfo .contactForm .form-list{
        margin-bottom: 10px !important;
    }
    .entryInfo .form-list.row {
        margin-top: 0!important
    }
    .label__birthday span {
        margin-bottom: 5px;
    }
    .entryInfo-skill,
    .entryInfo-skill, .label__url{
        padding:0!important
    }
    .col-lg-4.form-button__upload label {
        display: flex;
        justify-content:center;
    }
    .label__birthday label {
        margin-bottom: 5px!important;
    }
    input#work , input#skill{
        width: 20px!important;
        margin-right: 10px;
    }
    .form-list__input--check{
        flex-direction: column;
        align-items: start!important;
    }
    .form-list__Img label, .label--100{
        width:100%!important
    }
    .entryInfo textarea.input--full{
        margin-top: 10px;
    }
    .accordion .accordion-item.active .accordion-content {
        flex-direction: column;
        height: 100%;
        background: $color-yellow-m;
    }
    .accordion-content > div {
        width: 100%;
        display: flex;
        justify-content: start!important;
        align-items: center;
    }
    .label__url {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .label__url--2{
        flex-direction: column;
    }
    .form-list__right.form-list__input{
        padding: 0;
        align-items: center;
    }
    .form-list__right .row{
        padding: 0!important;
    }
    .entryInfo .input--flex{
        margin-top:10pxx!important
    }
    .form-list__right .form-list__input input {
        width: 100%!important;
    }
    .form-list__right  label{
        margin:0!important
    }
    .entryInfo .contactForm-done__content {
        margin-left: 0;
    }
    .form-list__upImg {
        margin-left: 0;
    }
    // .entryInfo  .form-list__input input, .form-list__input textarea, .form-list__input select{
    //     padding-left: 0;
    // }
    input[type="checkbox"] {
        margin-right: 0;
    }
    .form-list__code input{
        width:185px!important;
    }
 
    select#year {
        background-color: $color-white;
        width: 100%!important;
        margin-bottom: 15px;
    }
    select#day, select#month{
        width: 47%!important;
        background-color: $color-white;
    }select.select--form.input--flex.month,
    select.select--form.input--flex.year{
        background-color: $color-white;
    }
    .entryInfo-skill {
        display: flex;
        align-items: baseline;
    }
    .entryInfo-title__info{
        margin-bottom: 20px;
    }
    .entryInfo__title {
        font-size: 1.4rem!important;
    }
    .entryInfo__button a {
        width: 600px;
        height: 87px;
        display: flex;
        margin: auto;
        font-size: 2rem!important;
    }
    input#andress{
        margin-top: 10px!important;
    }
    main.main.entryInfo .contactForm {
        padding-top: 50px;
    }
    .entryInfo input,
    .entryInfo select {
        padding-left: 10px !important;
    }
    label.entryInfo__label {
        width: auto;
    }
    select.select--form.input--flex.year,
    select.select--form.input--flex.month {
        width: 50% !important;
    }
    .label__url--2 {
        width: 100% !important;
    }
    textarea.input--full,
    input {
        font-size: 0.8rem;
    }
    .form-list__andress1 input {
        width: 50% !important;
    }
    .contactForm-done__content,
     small {
        font-size: 1.4rem !important;
        color: #72716d;
    }
    .entryInfo .contactForm-done__button{
        width: 90%!important;
    }
    .entryInfo .title--width{
        width:100%!important;
        margin: 30px auto 0 auto!important;
    }
    .form-list__input-password{
        flex-direction: column;
        margin:0!important;
        margin-bottom: 10px;
    }
    .entryInfo input#password {
        margin:10px 0 10px 0!important 
    }
    .entryInfo .contactForm {
        padding-bottom: 300px;
    }
}

@media (max-width:750px){

    .entryInfo-header.topPage--title.title--width{
        width:100%!important
    }
    .entryInfo-title__info {
        margin-top: 20px;
        margin-bottom:0;
    }
    .entryInfo-thumb{
        margin-right: 0!important;
    }
    .entryInfo .contactForm label {
        width: 80px;
        font-weight: 600;
    }
    select#year {
        width: 80% !important;
        margin-bottom: 15px;
    }
    input#work{
        margin-right: 5px;
    }
    input#skill{
        margin-right: 10px!important;
    }
    .accordion .accordion-item .accordion-content > div label {
        font-weight: 400;
    }
    label[for="file-input"] {
        padding: 0.5em 1em;
    }
    button.entryInfo__button a {
        height: 55px;
        font-size: 1.8rem!important;
        width: 90% !important;
    }
    .accordion .accordion-item .accordion-title {
        padding: 0.7rem 1.6rem;
    }
    .accordion .accordion-item .accordion-title {
        border-radius: 10px;
    }
    .accordion .accordion-item.active .accordion-content {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .label--100{
        width:215px!important
    }
    label.password__label {
        margin-right: 20px!important;
    }
}






