/*----------------------------
      ENTRYFIX
-----------------------------*/
.entryFix{
    position: relative;
    .container{
        max-width:1050px!important;
        .row{
            margin: 20px auto;
        }
    }
    .title--width {
        width: 69%;
        margin: 11px auto 0 auto;
    }
    .contactForm{
        label{
            margin-left: 20px;
            width: 72px;
        }
        label.label--l {
            width: 128px!important;
        }
        .form-list{
            .row {
                margin-bottom: 15px;
                align-items:center;
            }
            &__input{
                input {
                    width: 220px;
                }
            } 
        }
    } 
    &__button {
        margin-top: 20px;
        a {
            width: 505px;
            height: 90px;
            margin: auto;
            display: flex;
        }
    }
}
.entryFix + footer.footer .container {
    background:none;
    height:106px;
}

.contactForm-done{
    &__title{
        color:$color-orange;
    }
    &__content{
        margin-top: 30px;
    }
}
@media (max-width: 1025px){
    .entryFix__button a{
        height:60px!important
    }
    .entryFix .contactForm {
        padding-bottom: 300px;
    }
    .entryFix .container {
        max-width: 95% !important;
    }
    .entryFix .title--width {
        width: 100%;
        margin: 11px auto 0 auto!important;
    }
}
@media (max-width: 750px){
    .entryFix .contactForm {
        padding-bottom: 227px!important;
        padding-top: 40px!important;
    }
    .entryFix .container-progress {
        margin-bottom: 30px;
    }
    .entryFix__button {
        width: 90%;
        margin-top: 0;
        margin: auto;
    }
    .contactForm-done__title{
        font-size: 1.8rem!important;
    }
    .entryFix__button a {
        height: 53px!important;
        margin-top: 15px!important;
        
    }
    .entryFix .contactForm-done__content, small {
        font-size: 1.6rem!important;
        margin-top: 20px;
    }
}