/*----------------------------
CONTACT INPUT
--------------------------*/
.entryConfirm{
    position: relative;
    .container{
        max-width:1050px!important;
        .row{
            // margin: 20px auto;
        }
        .container-progress {
            margin-bottom: 30px;
        }
    }
    .title--width {
        width: 69%;
        margin: 11px auto 0 auto;
    }
    small{
        font-size: 1.2rem!important;
    }
    &__upImg{
        width: 70px!important;
        background: $color-yellow;
        border-radius: 100%;
        height: 70px!important;
        img{
            width:70%;
        }
    }
    &__button {
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        a{
            align-items:center;
            height: 87px;
            display: flex;
        }
        .entryConfirm-button{
            &__change{
                margin-top: 15px;
                border:3px solid #333!important;
                background:#e4e4e4;
                border-radius:50px;
                width:315px;
                height: 85px;
                display: flex;
                justify-content:center;
                align-items: center;
                a{
                    color:#333!important;
                    font-size: 2.4rem!important;
                }
            }
            &__send{
                background:transparent!important;
                width:455px;
                
            }
        }
    }
    .contactForm{
        padding-bottom: 500px;
        form.contactForm__form{
            width: 98%;
            margin: auto;
        }
        label{
            font-weight: 500!important;
        }
        .form-list{
            margin: 0;
            padding: 20px 0;
            border-bottom: 2.5px solid #E5E5E5;
            .row {
                margin-bottom: 15px;
                align-items:center;
            }
            p{
                font-size:1.4rem;
            }
            .form-list__right{
                .row{
                    margin-top: 0!important;
                }
            }
        }
    } 
}
.entryConfirm + footer.footer .container {
    background:none;
    height:106px;
}



/*----------------------------
MEDIA SCREEN
--------------------------*/

/*--------------table------------*/

@media (max-width: 1250px){
    .entryConfirm {
        .container {
            max-width: 95% !important;
        }

    }
    main.main.entryConfirm .contactForm {
        padding-bottom: 500px;
    }
    .entryConfirm .contactForm  label {
        margin-left: 0!important;
        margin-bottom: 5px;
        font-size: 1.6rem !important;
        font-weight: 700!important;
    }
    .entryConfirm .contactForm .form-list {
        padding: 20px 0 15px 0!important;
    }
    .entryConfirm .contactForm .form-list p {
        font-size: 1.4rem;
        padding: 0 5px;
    }
    .entryConfirm__button .entryConfirm-button__change {
        width: 244px;
        height: 80px;
        a{
            font-size:2rem!important
        }
    }
    button.entryConfirm-button__send {
        height: 83px;
        width:350px!important
    }
    .entryConfirm__upImg {
        margin-top: 10px!important;
    }
    .entryConfirm .container .container-progress {
        margin-bottom: 20px;    
    }
    .entryConfirm .contactForm  .form-list__right {
        margin-top: 10px!important;
    }
}

/*--------------mobile------------*/

@media (max-width: 750px){
    .entryConfirm .container-progress{
        margin-bottom:10px
    }
    .entryConfirm .contactForm .form-list {
        padding: 15px 0 15px 0!important;
    }
    .entryConfirm__button.mt--3 {
        flex-direction: column;
    }
    button.entryConfirm-button__send {
        width:87%!important;
        a{
            height: 60px!important;
            font-size:1.8rem!important;
        }
    }
    .entryConfirm__button .entryConfirm-button__change {
        margin-top: 0;
        width: 90%;
        height: 65px;
        a{
            font-size:1.8rem!important
        }
    }
    main.main.entryConfirm .contactForm {
        padding-bottom: 200px;
    }
    .entryConfirm .title--width {
        width: 100%!important;
        margin: 11px auto 0 auto!important;
    }
    .entryConfirm .contactForm .form-list .form-list__right .row {
        margin-top: 10px !important;
    }
    .entryConfirm--p{
        margin-top:10px!important;
    }
}