body.modal-open {
    overflow: hidden;
}
.forFirst{
    transform: translate(0%, 120px);
    .forFirst__title{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    &.modal.workContent{
        transform: translate(0%, 0px);
        .modal-dialog{
            max-width: unset;
            width: fit-content;
        }
        .modal-content{
            background: white;
            border-radius: 30px;
            width: 791px;
            height: 829px;
            justify-content: flex-start;
            align-items: center;
            box-shadow: 0px 0px 10px 0px yellow;
            position: relative;
            i{
                position: absolute;
                font-size: 30px;
                color: white;
                background: $color-purple;
                border-radius: 50%;
                padding: 12px 16.5px;
                top: 20px;
                right: 20px;
                cursor: pointer;
            }
            .title{
                width: 80%;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;
                img{
                    width: 78px;
                    height: 133px;
                    margin: 15px;
                }
                .job{
                    font-size: 40px;
                    color: $color-link;
                    line-height: 60px;
                    width: inherit;
                    padding-left: 20px;
                    p{
                        color: black;
                        font-size: 20px;
                        line-height: 30px;
                    }
                }
            }
            .content{
                width: 80%;
                .blueText{
                    color: $color-link;
                    font-size: 25px;
                    line-height: 30px;
                    font-weight: 700;
                    margin-top: 25px;
                    margin-bottom: 10px;
                }
                .blackText{
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 350;
                }
            }
        }
    }
    .workContent{
        background:url("./../img/banner/background_top_forfirst.png") no-repeat center/cover ;
        background-position-y: -120px;
        margin-bottom: 105px;
        .listWork{
            width: 975px;
        }
        .work{
            position: relative;
            border: 6px solid #19a5b7;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            margin: 35px 45px 0px;
            width: 235px;
            height: 230px;
            background: white;
            padding-left: 0px;
            padding-right: 0px;
            .work_title{
                font-size: 22px;
                line-height: 30px;
                width: 90%;
                text-align: center;
                margin-bottom: 5px;
                padding: 10px 0px;
                border-bottom: 3px solid #19a5b7;
                color: #19a5b7;
            }
            .img{
                img{
                    width: 86px;
                    height: 136px;
                }
            }
            button{
                position: absolute;
                bottom: -20px;
                right: -16px;
                background: #D64C68;
                color: white;
                font-size: 15px;
                line-height: 27px;
                align-items: center;
                justify-content: space-around;
                flex-wrap: nowrap;
                width: 135px;
                height: 35px;
                padding: 10px 15px;
                border-radius: 35px;
                box-shadow: 4px 4px 3px 0px #ab4075;
                &:active,&:focus{
                    transform: translateY(2px);
                    box-shadow: 4px 3px 3px 0px #ab4075;
                }
                img{
                    width: 18px;
                }
            }
        }
        .text{
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            padding: 0;
            p{
                font-size: 40px;
                line-height: 60px;
            }
            p:first-child{
                box-shadow: -35px 70px 0px 0px #FBEB82;
                line-height: 30px;
                margin-bottom: 10px;
            }
        }
    }
    .freelanceStory{
        margin-bottom: 75px;
        .story{
            .storyPage-thumb{
                background: white;
                width: 108px;
                img{
                    width: 100%;
                }
            }
            .storyPage-list__title > div{
                border-radius: 1.3rem;
            }
            .storyPage-list__title{
                h3{
                    font-size: 20px;
                    line-height: 24px;
                }
                div{
                    font-size: 20px;
                    line-height: 40px;
                    padding: 0px 10px;
                }
            }
            .storyPage-list__content{
                font-size: 19px;
                line-height: 33px;
                margin: 23px auto;
            }
            .storyPage-list p{
                font-size: 14px;
                line-height: 25px;
            }
        }
    }
    .tutorial{
        .tutorial_content{
            width: 1140px;
            margin-bottom: 65px;
            justify-content: center;
            .step{
                width: 30%;
                padding: 10px 15px;
                margin-top: 20px;
                img{
                    width: 82px;
                    margin-bottom: 15px;
                }
                div{
                    font-size: 16px;
                    line-height: 25px;
                    a{
                        color: $color-link;
                    }
                }
                &_second{
                    border-left: 5px dotted yellow;
                    border-right: 5px dotted yellow;
                    padding: 10px 40px;
                }
            }
        }
    }
    .process{
        .process_container{
            background: linear-gradient(to right,#F5EFFC 50%, #FFFBEF 50%);
            width: 1090px;
            padding: 50px 0px;
            justify-content: space-around;
            .text_purple{
                color: $color-purple;
            }
            .text_orange{
                color: $color-orange;
            }
            .left{
                .pipe{
                    background: $color-purple;
                    border: 1px solid $color-purple;
                }
                .step{
                    border: 3px solid $color-purple;
                }
                min-height: 35px;
                height: auto;
            }
            .right{
                .pipe{
                    background: $color-orange;
                    border: 1px solid $color-orange;
                }
                .step{
                    border: 3px solid $color-orange;
                }
                min-height: 35px;
                height: auto;
            }
            .pipe{
                margin: 0px auto;
                width: 20px;
                height: 100%;
            }
            .between,
            .step{
                font-size: 24px;
                line-height: 30px;
                text-align: center;
                padding: 23px 10px;
                width: 85%;
                margin: 0 auto;
                background: white;
                height: 100%;
                button{
                    a{
                        font-size: 20px !important;
                        line-height: 60px;
                        font-weight: 700 !important;
                        padding: 5px 15px;
                        width: fit-content;
                        box-shadow: 3px 3px 2px 2px #bf5700 !important;
                        &:active,&:focus{
                            transform: translateY(2px);
                            -webkit-transform: translateY(2px);
                            box-shadow: 2px 2px 2px 1px #bf5700 !important;
                        }
                    }
                }
                p{
                    font-size: 18px;
                    letter-spacing: 1px;
                    line-height: 30px;
                    color: black;
                }
            }
            .between{
                border: 3px solid $color-purple;
                width: 91%;
            }
        }
        .process_title{
            .title{
                color: white;
                border-radius: 20px;
                font-size: 27px;
                line-height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                position: relative;
                &.left{
                    .text{
                        background: $color-purple;
                        border: 3px solid $color-purple;
                    }
                }
                &.right{
                    .text{
                        background: $color-orange;
                        border: 3px solid $color-orange;
                    }
                }
                img{
                    position: absolute;
                    width: 110px;
                    left: 15%;
                }
                .text{
                    width: 60%;
                    text-align: center;
                    border-radius: 30px;
                    margin-left: 10%;
                }
            }
        }
    }
    .question{
        .listQuestion{
            width: 1015px;
            .question_title{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: center;
                background: #FBEB82;
                padding: 10px 35px;
                border-radius: 25px;
                cursor: pointer;
                margin-bottom: 20px;
                P{
                    width: 80%;
                    font-size: 22px;
                    line-height: 60px;
                }
                .char{
                    width: 10%;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 50px;
                    line-height: 60px;
                    color: #0098ab;
                    padding-left: 25px;
                }
                i{
                    width: 10%;
                    font-size: 30px;
                    text-align: center;
                }
                .answer{
                    margin-bottom: 20px;
                    width: 100%;
                    display: flex;
                    background: white;
                    border-radius: 20px;
                    margin-top: 20px;
                    padding: 10px;
                    .char{
                        color: #4b39a8;
                        padding-left: 15px;
                    }
                    p{
                        font-size: 16px;
                        line-height: 30px;
                    }
                }
            }
        }
    }
    .button{
        width: 1280px;
        height: auto;
        margin: 0px auto;
        margin-top: 20px;
        background: url(./../img/banner/background_for_first.png) no-repeat center/cover;
        display: flex;
        flex-direction: column;
        padding-top: 195px !important;
        padding-bottom: 295px !important;
        .text{
            font-size: 40px;
            line-height: 61px;
            text-align: center;
        }
        button{
            margin: 0 auto;
            margin-top: 40px;
            width: fit-content;
            border-radius: 54px;
            a{
                width: 505px;
                font-size: 29px !important;
                line-height: 47px;
            }
        }
    }
    &+.footer .container{
        background: white;
        height: 226px;
    }
}
@media (max-width:1025px){
    .forFirst{
        transform: translate(0%, 80px);
        &.modal.workContent{
            transform: translate(0%, 0px);
            .modal-content{
                width: 719px;
                height: fit-content;
                i{
                    border-radius: 50%;
                    padding: 22.5px 27px;
                }
                .title{
                    margin-top: 0px;
                    img{
                        width: 85px;
                        height: 135px;
                        margin: 15px;
                    }
                    .job{
                        padding-left: 20px;
                        p{
                            font-size: 24px;
                        }
                    }
                }
                .content{
                    margin-bottom: 10px;
                    .blueText{
                        font-size: 30px;
                        margin-top: 15px;
                        margin-bottom: 0px;
                    }
                    .blackText{
                        font-size: 24px;
                        letter-spacing: -1px;
                        line-height: unset;
                    }
                }
            }
        }
        .workContent{
            background:url("./../img/banner/background_top_forfirst_mobi.png") no-repeat center/cover ;
            background-position-y: -120px;
            margin-bottom: 105px;
            .listWork{
                width: 90vw !important;
                justify-content: space-between;
                max-width: 710px;
            }
            .work{
                width: 311px;
                height: 330px;
                margin: 20px 0px;
                padding: 20px 0px;
                .work_title{
                    font-size: 30px;
                    line-height: 40px;
                }
                .img{
                    margin: 20px auto 30px;
                    img{
                        width: 100px;
                        height:170px;
                    }
                }
                button{
                    font-size: 24px;
                    line-height: 42px;
                    width: 200px;
                    height: 40px;
                    padding: 10px 20px;
                    border-radius: 35px;
                    img{
                        width: 20px;
                    }
                }
            }
            .text{
                margin-top: 40px;
                width: 100%;
            }
        }
        .freelanceStory{
            margin-bottom: 50px;
            .forFirst__title{
                margin-bottom: 30px;
            }
            .story{
                width: 90vw !important;
                .storyPage-thumb{
                    width: 30%;
                    img{
                        max-width: 200px;
                    }
                }
                .storyPage-list__title{
                    width: 70%;
                    padding: 0;
                    h3{
                        font-size: 35px;
                        line-height: 44px;
                        padding-left: 15px;
                    }
                    div{
                        font-size: 30px;
                        line-height: 75px;
                        width: fit-content;
                        border-radius: 2.5rem;
                    }
                }
                .storyPage-list__content{
                    font-size: 40px;
                    line-height: 61px;
                }
                .storyPage-list p{
                    font-size: 24px;
                    line-height: 40px;
                }
            }
        }
        .tutorial{
            .tutorial_content{
                width: 90vw;
                margin-bottom: 65px;
                margin-top: 15px;
                flex-direction: column;
                .step{
                    width: 100%;
                    padding: 0px 0px;
                    margin-top: 20px;
                    padding-bottom: 40px;
                    justify-content: space-between;
                    display: flex;
                    align-items: center;
                    border-bottom: 8px dotted yellow;
                    img{
                        width: 15%;
                        height: 13.5vw;
                        margin-bottom: 0px;
                    }
                    div{
                        width: 80%;
                        font-size: 24px;
                        line-height: 40px;
                    }
                    &_second{
                        border-left: none;
                        padding-bottom: 40px;
                        border-right: none;
                    }
                }
            }
        }
        .process{
            .process_container{
                width: 90vw;
                .left,
                .right{
                    min-height: 20px;
                }
                .between,
                .step{
                    font-size: 30px;
                    line-height: 50px;
                    padding: 15px 15px 25px;
                    button{
                        width: 100%;
                        margin-top: 10px;
                        a{
                            width: 90%;
                            font-size: 22px !important;
                            line-height: 15px;
                            padding: 20px 10px !important;
                            box-shadow: none !important;
                            &:active,&:focus{
                                box-shadow: none !important;
                                transform: translateY(0px);
                            }
                        }
                        padding-bottom: 10px;
                    }
                    p{
                        font-size: 24px;
                        line-height: 30px;
                    }
                }
            }
            .process_title{
                padding: 0;
                .title{
                    font-size: 35px;
                    line-height: 60px;
                    align-items: flex-start;
                    margin-bottom: 120px;
                    &.left{
                        .text{
                            border: none;
                        }
                    }
                    &.right{
                        .text{
                            border: none;
                        }
                    }
                    img{
                        width: 130px;
                        left: unset;
                        bottom: -240%;
                    }
                    .text{
                        margin-left: 0%;
                    }
                }
            }
        }
        .question{
            .listQuestion{
                width: 90vw;
                .question_title{
                    padding: 15px 35px;
                    margin-bottom: 20px;
                    p{
                        width: 80%;
                        font-size: 28px;
                        line-height: 60px;
                    }
                    .char{
                        width: 10%;
                        font-size: 50px;
                        line-height: 60px;
                        padding-left: 10px;
                    }
                    .answer{
                        .char{
                            padding-left: 5px;
                        }
                        p{
                            font-size: 24px;
                            line-height: 40px;
                        }
                    }
                }
            }
        }
        .button{
            width: 100vw;
            margin-top: 20px;
            padding-top: 105px !important;
            padding-bottom: 335px !important;
            background: url(./../img/banner/background_for_first_mobi.png) no-repeat bottom;
            background-size: 100%;
            .text{
                font-size: 40px;
                line-height: 61px;
                text-align: center;
            }
            button{
                margin-top: 50px;
                a{
                    width: 80vw !important;
                    font-size: 37px !important;
                    line-height: 60px;
                    padding: 25px !important;
                }
            }
        }
        &+.footer .container{
            background: white;
            height: 186px;
        }
    }
}
@media (min-width: 350px) and (max-width: 749px){
    .forFirst{
        transform: translate(0%, 80px);
        &.modal.workContent{
            .modal-dialog{
                margin: 0px auto;
            }
            .modal-content{
                width: 95vw;
                margin-top: 10px;
                i{
                    border-radius: 50%;
                    padding: 4.5px 8.125px;
                    font-size: 20px;
                }
                .title{
                    align-items: flex-end;
                    img{
                        width: 85px;
                        height: 135px;
                        margin: 5px;
                    }
                    .job{
                        padding-left: 10px;
                        font-size: 20px;
                        line-height: unset;
                        p{
                            font-size: 14px;
                        }
                    }
                }
                .content{
                    .blueText{
                        font-size: 20px;
                    }
                    .blackText{
                        font-size: 14px;
                    }
                }
            }
        }
        .workContent{
            margin-bottom: 40px;
            .listWork{
                max-width: 340px;
            }
            .work{
                width: 160px;
                height: 196px;
                margin: 10px 0px;
                padding: 0px;
                border: 3px solid #19a5b7;
                justify-content: center;
                .work_title{
                    font-size: 12px;
                    line-height: unset;
                    border-bottom: 2px solid #19a5b7;
                }
                .img{
                    margin: 10px auto 30px;
                    img{
                        width: 56px;
                        height: 94px;
                    }
                }
                button{
                    bottom: -15px;
                    right: -5px;
                    font-size: 12px;
                    line-height: unset;
                    width: 105px;
                    height: 27px;
                    padding: 5px 10px;
                    img{
                        width: 12px;
                    }
                }
            }
            .text{
                margin-top: 30px;
                p{
                    font-size: 20px;
                    line-height: unset;
                }
                p:first-child{
                    box-shadow: -20px 40px 0px 0px #fbeb82;
                    line-height: 15px;
                }
            }
        }
        .freelanceStory{
            margin-bottom: 50px;
            .forFirst__title{
                margin-bottom: 15px;
            }
            .story{
                .storyPage-list{
                    margin: 10px 0px;
                }
                .storyPage-list__title{
                    h3{
                        font-size: 18px;
                        line-height: unset;
                        padding-left: 10px;
                    }
                    div{
                        font-size: 15px;
                        line-height: unset;
                        width: fit-content;
                        border-radius: 1.0rem;
                    }
                }
                .storyPage-list__content{
                    font-size: 18px;
                    line-height: unset;
                }
                .storyPage-list p{
                    font-size: 12px;
                    line-height: unset;
                }
            }
        }
        .tutorial{
            .tutorial_content{
                margin-bottom: 40px;
                margin-top: 10px;
                .step{
                    margin-top: 10px;
                    padding-bottom: 10px;
                    align-items: center;
                    border-bottom: 5px dotted yellow;
                    img{
                        width: 15%;
                        height: 13.5vw;
                        margin-bottom: 0px;
                    }
                    div{
                        font-size: 12px;
                        line-height: unset;
                    }
                    &_second{
                        padding-bottom: 10px;
                    }
                }
            }
        }
        .process{
            .process_container{
                .between,
                .step{
                    font-size: 16px;
                    line-height: unset;
                    padding: 10px 5px;
                    button{
                        width: 100%;
                        margin-top: 10px;
                        padding-bottom: 0px;
                        a{
                            width: 90% !important;
                            font-size: 10px !important;
                            line-height: unset;
                            padding: 10px 5px !important;
                            margin-bottom: 0px;
                        }
                    }
                    p{
                        font-size: 12px;
                        line-height: unset;
                        text-align: left;
                        padding-left: 5px;
                    }
                }
            }
            .process_title{
                .title{
                    font-size: 14px;
                    line-height: unset;
                    margin-bottom: 100px;
                    &.left{
                        .text{
                            border: none;
                        }
                    }
                    &.right{
                        .text{
                            border: none;
                        }
                    }
                    img{
                        width: 100px;
                        left: unset;
                        bottom: -410%;
                    }
                    .text{
                        margin-left: 0%;
                        width: 90%;
                        padding: 5px;
                    }
                }
            }
        }
        .question{
            .listQuestion{
                margin-top: 10px;
                .question_title{
                    padding: 5px 15px;
                    margin-bottom: 20px;
                    p{
                        width: 80%;
                        font-size: 18px;
                        line-height: unset;
                        padding-left: 10px;
                    }
                    .char{
                        width: 10%;
                        font-size: 30px;
                        line-height: unset;
                        padding-left: 0px;
                    }
                    i{
                        font-size: 20px;
                    }
                    .answer{
                        .char{
                            padding-left: 0px;
                        }
                        p{
                            font-size: 16px;
                            line-height: unset;
                            width: 85%;
                        }
                    }
                }
            }
        }
        .button{
            width: 100vw;
            margin-top: 10px;
            padding-top: 55px !important;
            padding-bottom: 160px !important;
            .text{
                font-size: 20px;
                line-height: unset;
                text-align: center;
            }
            button{
                margin-top: 20px;
                a{
                    width: 85vw !important;
                    font-size: 18px !important;
                    line-height: unset;
                    padding: 10px 0 !important;
                }
            }
        }
    }
}