.forgotPassword{
    .forgotPasswordForm{
        transform: translate(0%, 149px);
    }
    .forgotPassword__title{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    input,
    input::-webkit-input-placeholder {
        font-size: 16px;
        padding-top: 15px;
        padding-bottom: 14px;
        height: auto !important;
    }
    .form-list{
        width: 65vw;
        max-width: 832px;
        .form-list__input{
            width: 100% !important;
            margin-top: 15px;
            input{
                border: 1px solid rgb(118, 118, 118);
            }
        }
    }
    .forgotPassword__button{
        a{
            width: fit-content !important;
            padding: 20px 113px;
            font-size: 22px !important;
        }
    }
    #alert{
        margin-bottom: 50px;
    }
}
.entry{
    form{
        .form-list .form-list__input{
            margin-top: 16px;
        }
    }
    button.forgotPassword__button a{
        width: 587px !important;
    }
}
@media (max-width:1025px){
    .main.forgotPassword.entry{
        min-height: unset;
    }
    .main.forgotPassword{
        min-height: 700px;
        height: calc(100vh - 586px);
    }
    .main.entry{
        .forgotPasswordForm{
            transform: translate(0%, 120px);
        }
        form{
            .col-lg-12{
                margin-bottom: 15px;
            }
            .forgotPassword__button a{
                padding: 24px !important;
            }
        }
    }
    .forgotPassword{
        .forgotPasswordForm{
            transform: translate(0%, 100px);
        }
        .entryPage__title{
            margin: 0px;
        }
        .forgotPassword-title {
            width: 85vw;
            margin-top: 30px !important;
            div.text-center{
                line-height: 50px;
                font-size: 25px !important;
            }
        }
        .form-list{
            width: 100vw;
            margin-bottom: 0px;
            input,
            input::-webkit-input-placeholder {
                font-size: 24px;
                padding-top: 30px;
                padding-bottom: 36px;
                padding-left: 29px;
            }
        }
        .forgotPassword__button{
            width: 85vw;
            margin-top: 45px !important;
            a{
                width: 85vw !important;
                font-size: 30px !important;
                padding: 20px 113px !important;
            }
        }
        #alert{
            margin-bottom: 20px;
        }
    }
    .entry{
        form{
            margin-top: 58px !important;
        }
    }
}
@media (min-width: 350px) and (max-width: 749px){
    .main.forgotPassword{
        min-height: 420px;
        height: calc(100vh - 64vw - 106px);
    }
    .main.entry{
        .forgotPasswordForm{
            transform: translate(0%, 100px);
        }
        form{
            .forgotPassword__button{
                margin-top: 30px;
                a{
                    width: 85vw !important;
                    padding: 10px !important;
                }
            }
        }
    }
    .forgotPassword{
        .forgotPassword-title {
            margin-top: 2vh !important;
            div.text-center{
                font-size: 16px !important;
                line-height: unset;
            }
        }
        #alert,
        label.font_size_16,
        .login-box_forgot,
        input,
        input::-webkit-input-placeholder{
            line-height: 0 !important;
            font-size: 16px !important;
        }
        form.mt--5{
            margin-top: 5vh !important;
        }
        .form-list{
            input,
            input::-webkit-input-placeholder {
                padding-top: 13px;
                padding-bottom: 10px;
                padding-left: 5px;
            }
        }
        .form-list__input {
            margin-top: 5px !important;
        }
        .forgotPassword__button{
            a{
                font-size: 18px !important;
                padding: 10px 10px !important;
            }
        }
    }
}