/*----------------------------
       FREELANCE PAGE
       -----------------------------*/
       
.freelancePage{
    padding-bottom:500px;
    background-image: url("./../img/banner/background-footer-pc.png");
    background-repeat: no-repeat, no-repeat;
    background-position:bottom;
    background-size: contain;
    position:relative;
    background-color: #FFFBEF;
    padding-top:90px;
    .container{
        max-width: 1081px !important;
        .title--width {
            width: 67%;
        }
    }
    .freelancePage-header{
        &__a{
            font-size:1.6rem;
            font-weight:400;
            text-decoration: revert!important;
            color:$color-main1;
        }
    }
    .section{
        padding-bottom: 60px;
    }
}


/*----------------------------
       RECEIVING PROJECTS
-----------------------------*/
.receivingProjects{
    background: url("./../img/banner/background_freelancePage.png") no-repeat center;
    background-size:auto;
    background-position-y:120px;
    background-position-x:center;
    .receivingProjects-progress{
        background:$color-main1;
        margin-top:50px;
        img{
            position: absolute;
            width: 264px;
            right: 68px;
            top: -42px;
        }

    }
    .receivingProjects-table  {
        width: 94%;
        margin: auto;
        table.table {
            background:$color-white;
            border: 1px solid $color-main1;
            font-size:2rem;
            
            thead{
                background:#E9F7F8;
            }
            tr{
                th:first-child{
                    width:54%;
                }
                th:nth-child(2),
                th:last-child{
                    width:23%;
                }
            }
            tbody{
                td{
                    height:150px;
                }
                .list-info{
                    padding: 25px 20px;
                    text-align: left;
                    &__thumb{
                        margin-left: 0;
                        min-width: 60px;
                        max-width: 70px;
                        height: 105px;
                    }
                    &__design {
                        font-size: 1.6rem;
                        width: 135px;
                        margin:0 20px 0 0 !important
                    }
                    &__money{
                        h2{
                            font-size: 2rem;
                            font-weight: 400;
                        }
                        img {
                            margin-right: 15px;
                            width: 32px;
                        }
                    } 
                }
                .list-info div:nth-child(2){
                    margin-left: 0;
                    margin-top: 0;
                }
            }
        }
    }
}

/*----------------------------
      FAVORITE MATTER
-----------------------------*/
.favoriteMatter{
    background-color: #FBEB82;
    background-image: url("./../img/banner/background_freelancePage2.png");
    background-repeat: no-repeat;
    background-size:auto;
    background-position-y:bottom;
    background-position-x:center;
    padding-top: 50px;
    padding-bottom: 80px!important;
    .favoriteMatter-progress{
        background:$color-main1;
        &:after{
            border-left: 25px solid #FBEB82;
        }
        &:before{
            border-right: 25px solid #FBEB82;
        }
        img{
            position: absolute;
            width: 126px;
            left: 242px;
            top: -42px;
        }

    }
    .recruit__button{
        font-size:2.6rem!important;
        position:relative;
        i{
            position:absolute;
            right:30px;
            top:50%;
            transform: translateY(-50%);
        }
    }
    .recruit-box{
        .recruit-list{
            width: 505px !important;
            min-width: 505px !important;
            padding: 20px 15px 15px 35px!important;
            margin-bottom: 45px;
            .list-info div:nth-child(2){
                margin-top: 0;
            }
            .list-info{
                &__date{
                    font-size: 2.1rem!important;
                    letter-spacing: 0px;
                }
                &__deadline {
                    font-size: 2.1rem;
                    letter-spacing: 0px;
                }
                &__money{
                    margin-top: 10px;
                    img {
                       margin-right: 7px;
                       width: 42px;
                    }
                    h2 {
                        font-size: 3rem;
                    }
                }
                &__design{
                    padding: 4px 0;
                    width: 145px;
                    border-radius: 11px;
                    font-size: 1.8rem;
                    font-weight:bold;
                    margin: 15px 0 0 0 ;
                }
            }
            &__title {
                padding-bottom: 5px;
                margin-top: 17px;
                border-bottom: none;
                h4 {
                    font-size:2.4rem;
                    letter-spacing: 1px;
                    font-weight:500;
                }
            }
            &__content{
                margin-top:15px;
                p{
                    margin-bottom: 0;
                    font-size: 1.4rem;
                }
            }
            &__button{
                margin-top:15px;
                border: 3px solid #777777;
                width: 142px;
                color:#777777!important;
                font-size: 1.4rem!important;
                img{
                    width: 20px;
                    margin-right:15px;
                }
            }
        }
    }
}


/*----------------------------
      PAST PROJECTS
-----------------------------*/
.pastProjects{
    
    .pastProjects-progress{
        background:#7F7F7F;
        margin-top:50px;
        img{
            position: absolute;
            width: 150px;
            right: 85px;
            top: -14px;
        }

    }
    .recruit__button{
        font-size:2.6rem!important;
        position:relative;
        i{
            position:absolute;
            right:30px;
            top:50%;
            transform: translateY(-50%);
        }
    }
    .pastProjects-table  {
        width: 94%;
        margin: auto;
        table.table {
            background:$color-white;
            border: 2px solid #878787;
            font-size:2rem;
            
            thead{
                background:#DDDDDD;
            }
            tr{
                th:first-child{
                    width:75%;
                }
                th:nth-child(2),
                th:last-child{
                    width:25%;
                }
            }
            tbody{
                td{
                    height:150px;
                }
                .list-info{
                    padding: 25px 20px;
                    text-align: left;
                    &__thumb{
                        margin-left: 0;
                        min-width: 60px;
                        max-width: 70px;
                        height: 105px;
                    }
                    &__design {
                        font-size: 1.6rem;
                        width: 135px;
                        margin:0 20px 0 0 !important
                    }
                    &__money{
                        h2{
                            font-size: 2rem;
                            font-weight: 400;
                        }
                        img {
                            margin-right: 15px;
                            width: 32px;
                        }
                    } 
                }
                .list-info div:nth-child(2){
                    margin-left: 0;
                    margin-top: 0;
                }
            }
        }
    }
}
.freelancePage + footer.footer .container {
    background:none;
    height:106px;
}



/*----------------------------
      MEDIA SCREEN 
-----------------------------*/

/*--------TABLET--------*/

@media (max-width:1025px){
    .freelancePage-header{
        margin: 0 auto!important;
        .profileEdit__title{
            font-size: 3rem!important;
        }
    }
    .receivingProjects{
        .profileEdit-thumb{
            width: 90px;
            height: 90px;
        }
        
    } 
    .freelancePage .progress-page {
        justify-content: left!important;
        .progress-page__title {
            margin-left: 40px;
        }
    }
    .freelancePage table.table {
        font-size: 1.5rem!important;
    }
    .receivingProjects .receivingProjects-progress img {
        width: 195px;
        right: 68px;
        top: -42px;
    }
    .favoriteMatter .favoriteMatter-progress img {
        width: 103px;
        right: 73px;
        top: -43px;
        left:auto;
    }
    .pastProjects .pastProjects-progress img {
        width: 124px;
    }
    .favoriteMatter .recruit-box .recruit-list {
        margin-top: 40px;
        margin-bottom: 0;
    }
    .freelancePage .list-info{
        padding: 15px 10px;
        text-align: left;
        &__title{
            font-size: 1.6rem !important;
        }
        &__design{
            font-size: 1.2rem!important;
            margin: 0 10px 0 0 !important;
            border-radius: 10px;
        }
        &__money {
            h2 {
                font-size: 1.4rem!important;
            }
        }
    }
    .favoriteMatter a.recruit-list__button {
        width: 170px!important;
    }
    button.pastProject-button,
    button.favoriteMatter-button{
        height:70px!important;
        margin-top: 50px!important;
    }
    button.favoriteMatter-button{
        width: 70%!important;
    }
    button.pastProject-button{
        width: 90%!important;
    }

}

/*--------MOBILE--------*/

@media (max-width:750px){
    .freelancePage-header{
        margin: 0 auto!important;
        .profileEdit__title{
            font-size: 2.2rem!important;
        }
        a{
            font-size: 1.4rem!important;
        }
    }
    .receivingProjects{
        .profileEdit-thumb{
            width: 80px;
            height: 80px;
        }
        
    } 
    .freelancePage .progress-page .progress-page__title{
        font-size: 1.6rem !important;
        margin-left: 30px;
    }
    .receivingProjects .receivingProjects-progress img {
        width: 150px;
        right: 16px;
        top: -18px;
    }
    .favoriteMatter .favoriteMatter-progress img {
        width: 86px;
        right: 30px;
        top: -36px;
        left: auto;
    }
    .pastProjects .pastProjects-progress img {
        width: 105px;
        right: 34px;
        top: -14px;
    }
    .receivingProjects .list-info__thumb,
    .pastProjects .list-info__thumb{
        display: none;
    }
    .freelancePage .list-info{
        padding: 5px!important;
        text-align: left;
        &__title{
            font-size: 1.4rem !important;
        }
        &__design{
            font-size: 1.2rem!important;
            margin: 0 10px 0 0 !important;
        }
        &__money {
            margin-top: 10px!important;
            display: flex;
            h2 {
                font-size: 1.6rem !important;
            }
        }
        &__bottom {
            margin-top:10px!important;
            flex-direction: column;
            justify-content: end!important;
            align-items: start!important;
        }
    }
    .favoriteMatter .recruit-box .recruit-list {
            width: 95%!important;
            min-width: 95%!important;
            padding: 15px !important;
        &__new {
            top: -26px;
            left: -21px;
            width: 60px;
            height: 60px;
            font-size: 2.2rem;
        }
        &__title {
            h4{
                font-size: 2rem!important;
            }
        }
        &__button {
            width: 142px !important;
            margin-top: 10px;
        }
        .list-info{
            &__thumb {
                max-width: 80px;
                min-width: 50px;
                height: 113px;
            }
            &__date {
                font-size: 1.6rem !important;
                letter-spacing: 0px;
            }
            &__deadline {
                font-size: 1.6rem;
                letter-spacing: 0px;
            }
            &__design {
                font-size: 1.4rem !important;
                margin: 5px 10px 0 0 !important;
                width:120px!important
            }
            &__money{
                img {
                    margin-right: 7px;
                    width: 34px;
                }
                h2 {
                    font-size: 2.4rem!important;
                }
            } 
        }
    }
    .favoriteMatter{
        padding-top:30px!important
    }
    button.pastProject-button,
    button.favoriteMatter-button{
        height:60px!important;
        margin-top: 30px!important;
    }
    button.favoriteMatter-button{
        width: 80%!important;
    }
    button.pastProject-button{
        width: 90%!important;
    }
    .favoriteMatter{
        padding-bottom: 30px!important;
    }
    .freelancePage .progress-page{
        margin-top: 30px!important;
    }
    .freelancePage{
        padding-bottom: 210px!important;
        background-image: url(./../img/banner/background_contactForm-mobile.png) no-repeat center;
        background-position-y: bottom;
        background-size: contain;
        background-size: 170% !important;
    }
    .pastProjects .pastProjects-table table.table tbody td {
        height: 120px;
    }
}

@media (max-width:750px){
    .freelancePage table.table {
        font-size: 1.2rem !important;
    }

    .freelancePage .list-info__title {
        font-size: 1.2rem !important;
    }
}