/*----------------------------
       JOB BOARD
-----------------------------*/

.jobBoard{

    position:relative;
    .container{
        max-width: 1081px !important;
        .title--width {
            width: 67%;
        }
    }
    .recruitPage{
        padding-bottom:550px;
        background:#fbeb82;
        background-image: url("./../img/banner/background-footer-pc.png");
        background-repeat: no-repeat, no-repeat;
        background-position:bottom;
        background-size: contain;
        .recruit__button{
            font-size:2.6rem!important;
            position:relative;
            i{
                position:absolute;
                right:30px;
                top:50%;
                transform: translateY(-50%);
            }
        }
        .recruit-box{
            &__select{
                margin-bottom: 30px;
                select{
                    float: right;
                    width: 243px;
                    height: 55px;
                    border-radius: 10px;
                    font-size: 2rem!important;
                    font-weight: 400;
                    border:5px solid $color-yellow;
                    &:focus{
                        box-shadow:none;
                    }
                }
            }
            
            .recruit-list{
                width: 505px !important;
                min-width: 505px !important;
                padding: 20px 15px 15px 35px!important;
                margin-bottom: 25px;
                .list-info div:nth-child(2){
                    margin-top: 0;
                }
                .list-info{
                    &__date{
                        font-size: 1.6rem!important;
                        letter-spacing: 0px;
                    }
                    &__deadline {
                        font-size: 1.6rem;
                        letter-spacing: 0px;
                    }
                    &__money{
                        margin-top: 10px;
                        img {
                           margin-right: 7px;
                           width: 34px;
                        }
                        h2 {
                            font-size: 2.4rem;
                        }
                    }
                    &__design{
                        padding: 4px 0;
                        width: 130px;
                        border-radius: 11px;
                        font-size: 1.6rem;
                        font-weight:bold;
                        margin: 5px 0;
                    }
                }
                &__title {
                    border-bottom: 2px solid #525151;
                    padding-bottom: 5px;
                    margin-top: 17px;
                    h4 {
                        font-size:2rem;
                        letter-spacing: 1px;
                        font-weight:500;
                    }
                }
                &__content{
                    margin-top:15px;
                    p{
                        margin-bottom: 0;
                        font-size: 1.4rem;
                    }
                }
                &__button{
                    margin-top:15px;
                }
            }
        }
    }
}

.jobBoard .accordion-content__box {
    padding-left: 15px;
}
.progress-page{
    position:relative;
    width:100%;
    height:75px;
    &::after,
    &::before
    {
        content:"";
        position:absolute;
        width: 0;
        height: 0;
        top:0;
    }
    &::after
    {
        content:"";
        position:absolute;
        left: -1px;
        border-top: 37px solid transparent;
        border-bottom: 38px solid transparent;
        border-left: 25px solid white;
    }
    &::before
    {
        content:"";
        position:absolute;
        right: -1px;
        border-top: 37px solid transparent;
        border-bottom: 38px solid transparent;
        border-right: 25px solid white;
    }
}

/*----------------------------
SEARCH MATTER
-----------------------------*/

.searchMatter{
    padding-top:140px;
    padding-bottom:45px;
    background: url("./../img/banner/background-searchMatter.png") no-repeat center;
    background-size:auto;
    background-position-y:top;
    background-position-x:center;
    .contactForm__form{
        .form-list__input label {
            font-size: 1.4rem;
            margin-right: 10px;
        }
        padding:0 20px;
        .input--right {
            margin: 0 10px 0 0;
        }
    }
}
.searchMatter-progress{
    background:$color-main1;   
}
/*-------dialog----------*/

.jobBoard-dialog {
    position: absolute;
    top: 100px;
    width: 800px;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    &__close{
        position:absolute;
        top:20px;
        right:20px;
        width:54px;
        height:54px;
        cursor: pointer;
    }
    &__button{
        font-size:2.6rem;
        font-weight:bold;
        text-align: center;
        color:$color-white;
        margin-bottom: 100px;
        button{
            font-size:2.6rem;
            font-weight:bold;
            height:87px;
            width:605px;
            background:#888888;
            border-radius: 50px;
        }
        .button-dialog{
            &__applied{
                height:87px;
                border:5px solid $color-main1;
            }
            &__delete{
                height:65px;
                border:5px solid $color-orange;
            }
        }
    }
    .dialogJobBoard-box{
        background: $color-white;
        width: 100%;
        padding:45px 50px;
        box-shadow: 0px 0px 7px 1px $color-yellow;
        border-radius:20px;
        &__button{
            button{
                font-size:2.6rem;
                width:605px;
                img{
                    margin-right:20px
                }
            }
            button:first-child{
                height:87px;
            }
            button:last-child{
                height:65px;
            }
        }
        .dialogJobBoard-description{
            background:$color-yellow-m;
            width:97%;
            margin:20px auto;
            padding:20px 25px 15px 20px;
            >div{
                margin-bottom: 5px;
            }
            &__date{
                .text--red{
                    margin-left:20px;
                }
                display: flex;
            }
            &__deadline{}
            &__money{}
        }
        .dialogJobBoard-details{
            p{
                font-size: 1.6rem;
                margin-bottom: 3px;
            }
            .box-details{
                &__title{
                    color:$color-main1;
                    font-size:2.2rem;
                    font-weight:bold;
                    margin:10px 0;
                }
            }
            &__job{
                .job--p{
                    margin-top: 20px;
                }
            }
            &__request{}
            &__occupation{}
            &__skill{}
            &__deliverables{}
            &__explanation{}
            &__requester{}
        }
    }
}
.jobBoard + footer.footer .container {
    background:none;
    height:106px;
}
/*----------------------------
MEDIA SCREEN
-----------------------------*/


/*-------TABLET----------*/
@media (max-width:1025px){
    .jobBoard .container {
        max-width: 95% !important;
    }
    .jobBoard .recruitPage {
        padding-bottom: 350px;
        .recruit-list + .recruit-list, .awardsPage-list + .awardsPage-list {
            margin-top: 5px;
        }
    }
    .jobBoard .recruitPage .recruit-box .recruit-list{
        width: 100% !important; 
        min-width: 100% !important;
    }
    .jobBoard-dialog{
        width:90%;
    }
}

/*-------MOBILE----------*/

@media (max-width:750px){
    .searchMatter {
        padding-top: 100px;
    }
    section.section.searchMatter label {
        font-size: 1.6rem!important;
        margin-top: 10px;
    }
    .jobBoard .recruitPage {
        padding-bottom: 200px;
        background-image: url(./../img/banner/background_contactForm-mobile.png) no-repeat center;
        background-position-y: bottom;
        background-size: contain;
        background-size: 170%!important;
        .recruit-list + .recruit-list, .awardsPage-list + .awardsPage-list {
            margin-top: 5px;
        }
    }
    .jobBoard .container .title--width {
        width: 100%;
        margin:0!important;
    }
    .progress-page {
        height: 55px;
    }
    .progress-page::after {
        border-top: 28px solid transparent;
        border-bottom: 28px solid transparent;
        border-left: 19px solid white;
    }
    .progress-page::before {
        border-top: 28px solid transparent;
        border-bottom: 28px solid transparent;
        border-right: 19px solid white;
    }
    .jobBoard button.profileEdit__button a{
        height: 45px!important;
        padding-right: 40px!important;
    }
    .jobBoard button.profileEdit__button a img{
        width: 60px!important;
        margin-right: 20px!important;
    }
    .jobBoard .recruitPage .recruit-box__select select {
        width: 51%;
        height: 47px;
        font-size: 1.8rem!important;
    }
    .jobBoard .recruit__button.contactForm-done__button{
        height:50px!important;
        font-size: 2.2rem!important;
        width:85%!important;
        i{
            font-size:18px
        }
    }
    .jobBoard-dialog{
        top:50px;
    }
    .jobBoard-dialog .dialogJobBoard-box{
        padding: 20px 15px 50px 15px;
        margin-bottom: 25px;
    }
    .dialogJobBoard-box__title {
        font-size: 1.6rem!important;
    }
    .jobBoard-dialog__close {
        top: 10px;
        right: 10px;
        width: 35px;
        height: 35px;
    }
    .jobBoard-dialog .dialogJobBoard-box .dialogJobBoard-description {
        padding: 15px 15px 10px 15px;
        font-size: 1.3rem!important;
    }
    .jobBoard-dialog .dialogJobBoard-box .dialogJobBoard-description__date .text--red{
        margin-left: 0;
    }
    .dialogJobBoard-description__date{
        display: flex;
        flex-direction: column;
    }
    .jobBoard-dialog .dialogJobBoard-box .dialogJobBoard-details .box-details__title {
        font-size: 1.6rem;
    }
    .jobBoard-dialog .dialogJobBoard-box .dialogJobBoard-details p {
        font-size: 1.2rem;
    }
    .jobBoard-dialog .dialogJobBoard-box__button button:first-child,
    .jobBoard-dialog__button .button-dialog__applied {
        height: 55px;
    }
    .jobBoard-dialog .dialogJobBoard-box__button button:last-child,
    .jobBoard-dialog__button .button-dialog__delete{
        height: 50px;
    }
    .button__tutorial {
        font-size: 1.5rem;
    }
    .jobBoard-dialog__button{
        margin-bottom:50px;
    }
    .jobBoard .recruit-list__new {
        top: -26px;
        left: -21px;
        width: 60px;
        height: 60px;
        font-size: 2.2rem;
    }
    .jobBoard .accordion-content__box {
        padding-left: 15px!important;
        label{
            margin:0!important
        }
    }
}