.mr_bt_0 {
  margin-bottom: 0;
}

.jt-ct_sb {
  justify-content: space-between;
}

.logIn {
  div.row.d-flex {
    width: 100%;
  }

  input,
  input::-webkit-input-placeholder {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 14px;
    height: auto !important;
  }

  label.font_size_16 {
    line-height: 60px;
  }

  .loginForm {
    padding-top: 50px;
    transform: translate(0%, 15%);

    .form-list__input input, .form-list__input textarea, .form-list__input select {
      height: 50px;
    }
  }

  .loginForm__form {
    max-width: 812px;
  }

  .loginForm__title {
    margin-top: 0;
    margin-bottom: 10px;

    img {
      width: 99.5%;
    }
  }

  .login-box_forgot {
    margin: 0;
  }

  .register {
    text-align: center;
  }

  button.logIn__button {
    margin-top: 23px;
  }

  button.free__button {
    margin-top: 15px;
  }
}

.title--link {
  color: $color-link !important;
}

.logIn__button,
.free__button,
.button__submit {
  background: no-repeat;

  a {
    margin-top: 0 !important;
    width: 539px;
    padding: 20px 0;
    font-size: 24px !important;
  }
}

.logIn .form-list {
  .col-lg-3 {
    width: 21% !important;
  }

  &__input {
    width: 79% !important;

    input {
      border: 1px solid rgb(118, 118, 118);
    }
  }

  a {
    text-decoration: revert !important;
  }
}

.register {
  a {
    text-decoration: revert !important;
  }
}

@media (max-width: 1025px) {
  form.loginForm__form {
    padding: 0;
  }
  .logIn__button, .logIn__button a, .free__button, .free__button a {
    width: 90%;
  }
  .loginForm__button {
    width: 100%;
    margin: 0
  }

  .logIn {
    form.loginForm__form{
      margin-top: 10px !important;
    }
    .form-list {
      width: 96% !important;
      margin-top: 26px !important;

      .col-lg-3 {
        width: 100% !important;
      }

      &__input {
        width: 100% !important;
      }
    }

    input,
    input::-webkit-input-placeholder {
      font-size: 24px;
      padding-top: 24px;
      padding-bottom: 19px;
      height: auto !important;
    }

    label.font_size_16 {
      line-height: 40px;
      font-size: 22px !important;
      margin-bottom: 0;
    }

    a.loginForm-done__button {
      padding: 24px 0 !important;
      font-size: 27px !important;
    }

    div.row.d-flex {
      width: 100vw;
    }

    .logIn__button {
      margin-top: 36px;
    }

    .loginForm__title {
      margin-top: 0;
      margin-bottom: 0;
      width: 95vw;
    }

    .register {
      margin-top: 20px;

      a {
        text-decoration: none !important;
      }
    }
  }
  .register {
    width: 84%;
  }
  .mrt-button {
    width: 88%;
  }
  .loginForm {
    padding-top: 0 !important;
    transform: translate(0%, 15%) !important;
  }
}

@media (min-width: 350px) and (max-width: 749px) {
  .logIn .loginForm {
    padding-top: 0 !important;
    transform: translate(0%, 15%) !important;
  }

  .logIn label.font_size_16,
  .logIn .login-box_forgot,
  .logIn input,
  .logIn input::-webkit-input-placeholder
  {
    line-height: 0 !important;
    font-size: 16px !important;
  }

  .logIn input,
  .logIn input::-webkit-input-placeholder {
    padding-top: 13px;
    padding-bottom: 10px;
  }
  .logIn .form-list__input {
    margin-top: 5px !important;
  }
  .logIn .login-box_forgot {
    margin-top: 12px !important;
  }

  .logIn a.loginForm-done__button {
    margin-top: 0 !important;
    width: 80vw;
    padding: .375rem .75rem !important;
    font-size: 18px !important;
  }

  .logIn .register {
    font-size: 1.4rem !important;
    margin-top: 20px !important;
  }
}