
.privacyPolicy{
    .mt--4{
        margin-top: 40px !important;
    }
    .privacyPolicyForm{
        transform: translate(0%, 130px);
    }
    .privacyPolicyForm__title{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .box_list{
        width: 1090px;
        .list_title{
            background-color: #D2EBEE;
            padding: 12px 10px;
        }
        .list_content{
            padding: 10px 20px;
            p{
                margin: 10px 0px;
                font-weight: 350;
            }
            .small_text{
                font-size: 15px;
            }
            a{
                color: $color-link;
            }
        }
    }
    .box_time{
        width: 1090px;
        text-align: right;
        padding: 10px 32px;
        .company-name{
            font-weight: 600;
        }
    }
    .box_note{
        width: 1090px;
        padding: 10px 32px;
    }
    .box_footer{
        width: 720px;
        margin: 20px auto;
        .footer_title{
            color: #319DAD;
            padding: 10px;
        }
        .footer_company{
            border: 1px solid black;
            border-bottom: none;
            background-color: white;
            padding: 25px 20px;
        }
        .footer_contact{
            padding: 25px 20px;
            border: 1px solid black;
            border-top: none;
            background-color: white;
    
        }
    }
}
.termOfService{
    .box_list{
        margin-bottom: 20px;
    }
}

@media (max-width:1025px){
    .termOfService{
        .box_list{
            margin-bottom: 0px;
        }
    }
    .privacyPolicy{
        .font_size_24{
            font-size: 25px !important;
        }
        .privacyPolicyForm{
            transform: translate(0%, 120px);
            div.row{
                margin-top: 0px;
            }
        }
        .box_list{
            width: 90vw;
            margin-top: 25px;
            .list_title{
                padding: 12px 10px;
            }
            .list_content{
                padding: 0px 10px;
                p{
                    margin: 5px 0px;
                }
                .small_text{
                    font-size: 18px;
                }
            }
        }
        .box_footer{
            width: 90vw;
        }
        .box_time{
            width: 90vw;
            padding: 10px 10px;
        }
        .box_note{
            display: none;
        }
    }
}
@media (min-width: 350px) and (max-width: 749px){
    .privacyPolicy{
        .privacyPolicyForm{
            transform: translate(0%, 100px);
        }
        .box_list{
            margin-top: 10px;
            .list_title{
                font-size: 17px !important;
                padding: 12px 10px;
            }
            .list_content{
                padding: 10px 0px;
                p{
                    font-size: 17px !important;
                }
            }
        }
        .box_footer{
            .footer_title{
                font-size: 17px !important;
            }
            .footer_company{
                padding: 10px;
                p{
                    font-size: 17px !important;
                }
            } 
            .footer_contact{
                padding: 10px;
                p{
                    font-size: 17px !important;
                }
            } 
        }
        .box_time{
            p{
                font-size: 17px !important;
            }
        }
    }
}