
.topPage{
    position: relative;
}
//  

/*----------------------------
      BANNER
-----------------------------*/
@mixin d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}


.topPage--title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px 0;
 
}
.title--width{
    width:64%;
    margin: 20px auto 30px auto;
}
.banner{
    // height:150vh;
    overflow: hidden;
    padding-bottom: 0;
    background:url("./../img/banner/banner-homePage.png") no-repeat center/cover ;
    &__button{
        opacity: 0;
        visibility: hidden;
        display: flex;
    }
    .container>img{
    }
    &__word{
        position: relative;
        margin-top: 310px;
        // img:first-child{
        //     position: absolute;
        //     top: -164px;
        //     left: 50%;
        //     max-width: 200%;
        //     width: 154%;
        //     transform: translateX(-50%);
        // }
        .word-banner{
            &__notice {
                position: absolute;
                left: 49%;
                transform: translateX(-50%);
            }
            &__word {
                margin-left: 20px;
            }
            &__noticePC {
                bottom: 109px;
                width: 162% !important;
                max-width: 161%;
            }
            &__title{
                position: absolute;
                top: -180px;
                left: 50%;
                transform: translateX(-50%);
                width: 170%!important;
                max-width: 170%;
            }
            &__noticeMobile {
                width: 116%!important;
                display:none;
                max-width: 116%;
            }
        }
    }
}

/*----------------------------
      LEARNING PAGE
-----------------------------*/
.learning-box{
    &__list{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 65px;
        position: relative;
        h2{
            font-weight: 700;
            line-height: 4.5rem;
            font-size: 3rem;
        }
    }
    &__back {
        position: absolute;
        z-index: -1;
        bottom: 38%;
        width: 80%;
    }
}
.learning-box.row {
    width: 86%;
    margin: auto;
}
.leaning-list {
    position: relative;
    width: 252px;
    border: 5px solid $color-main1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 25px; 
    padding:15px 10px;
    &__title {
        position: absolute;
        top: -65px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 150px;
        height: 67px;
        background: white;
    }
    &__number{
        color:$color-main1;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-size: 5.8rem;
            font-weight: 500;
        }
        span{
            font-weight: 700;
            font-size: 1rem;
        }
    }
    &__thumb {
        margin-top: 0;
        width: 175px;
        margin: 15px auto;
        height: 175px;
        border-radius: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__content{
        font-size: 2rem;
        font-weight: bolder;
    }

}
/*----------------------------
      RECRUIT PAGE
-----------------------------*/

.recruit{

    padding-top:150px;
    padding-bottom: 50px;
    position: relative;
    background:url("./../img/banner/banner-recruitPage.png") no-repeat center;
    background-size: cover;
    .row{
        width:98%!important;
        margin:auto;
    }
    &__title{
        position:absolute;
        top: -95px;
        left:50%;
        transform: translateX(-50%);
        margin: 0;
    }
    &__button{
        height: 62px;
        position: relative;
        width:604px;
        height:87px;
        font-size: 3rem!important;
        img{
            position:absolute;
            top:50%;
            right: 20px;
            transform:translateY(-50%)
        }
    }
}
.recruit-list{
    position: relative;
    background-color: $color-white;
    width: 526px!important;
    min-width: 526px!important;
    border-radius: 20px;
    border:5px solid $color-main1;
    box-shadow: 5px 6px 2px 1px $color-main1;
    padding: 40px 22px 20px 45px!important;
    margin:0 20px;
    cursor: pointer;
    transition: 0.5s;
    
    &__new {
        position: absolute;
        top: -26px;
        left: -18px;
        width: 80px;
        height: 80px;
        background: $color-red;
        border-radius: 40px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        font-weight: $font-bold;
        color: $color-white;
    }
    &__design{
        border:3px solid $color-main1;
        color:$color-main1;
        padding: 5px 15px;
        width: 171px;
        border-radius: 14px;
        font-size: 2rem;
        font-weight: bold;
        margin: 28px 0;
        text-align: center;
    }
    &__title{
        border-bottom: 3px solid #525151;
        padding-bottom: 8px;
        h4{
            font-weight: 500;
            letter-spacing: 0;
            font-size: 2.5rem;                
        }

    }
    &__content{
        margin-top: 30px;
        p{
            margin-bottom: 12px;
            font-weight: 400;
            color: gray;
            font-size: 1.5rem;
            line-height: 18px;
        }
    }
    &__button{
        box-shadow:white!important;
        border-radius: 40px!important;
        padding: 3px 20px!important;
        align-items: center;
        float: right;
        margin-top: 25px;
        font-size: 1.5rem!important;
        font-weight: 500!important;
        span{
            margin-right: 10px;
            margin-bottom: 2px;
        }
    }
}
.recruit-list:hover{
    transform:translateY(-5px)
}
a.recruit-list__button.btn.btn--orange.d-flex {
    box-shadow: none!important;
   
}

.list-info{
    div:nth-child(2){
        margin-left: 45px;
        margin-top: 12px;
    }
    &__thumb {
        margin-left: 20px;
        min-width: 82px;
        max-width: 110px;
        height: 146px;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    &__date{
        letter-spacing: 1px;
        font-size:2.1rem;
        span{
            font-weight: 600;
        }
    
    }
    &__deadline{
        color:$color-red;
        font-weight: bold;
        letter-spacing: 2.2px;
        font-size:2rem;
    }
    &__money{
        margin-top: 15px;

        img{
            margin-right: 15px;
            width: 43px;
        }
        h2{
            font-weight: bold;
            margin:0;
            font-size: 3rem;
        }
    }
    
}


/*----------------------------
      AWARDS PAGE
-----------------------------*/

.awardsPage{
    background:url("./../img/banner/background_awardsPage.png") no-repeat center;
    background-size: cover;
    &__title {
        margin:50px auto ;
    }
}
section.awardsPage.section {
    padding-bottom: 0;
}
.awardsPage-list{
    width: 45%!important;
    @include d-flex;
    flex-direction: column;
    &__content{
        background:$color-white;
       margin-top: 40px;
       height:103px;
       width: 415px;
       h4{
           font-weight: 700;
           font-size: 2.7rem;
       } 
       p{
            line-height: 35px;
            font-weight: 400;
            color: gray;
            font-size: 1.8rem;
            margin-top: 15px;
       }
    }
    &__title{
        margin-bottom: 60px;
        h3{
            font-weight: 800;
            font-size: 3rem;
        }
    }
}
.awardsPage-box{
    position: relative;
    width:345px;
    height:258px;
    box-shadow: 2px 2px 5px 5px $color-main1;
    border:1px solid $color-black;
    @include  d-flex;
    &__cup{
        top: -105px;
        left: -22px;
        z-index: 1;
    }
    &__title{
        top: -37px;
        width: 250px;
        z-index: 1;
        left: 56%;
        transform: translateX(-50%);
        h1{
            font-weight: 700!important;
            text-align: center;
            font-size: 4rem;
        }
    }
    &__item{
        top: -50px;
        width: 434px;
        left: 50%;
        transform: translateX(-50%);
    }
}



/*----------------------------
      STORY PAGE
-----------------------------*/
.storyPage{
    position: relative;
    background: url(./../img/banner/background_storyPage.png), url(./../img/banner/background_storyPage2.png) no-repeat center;
    background-size: contain,cover;
    // background-size: auto,contain;
    background-position-y:bottom,bottom;
    background-position-x:center;
    background-repeat: no-repeat, no-repeat;
    padding-bottom:500px;
    &__title{
        margin-bottom: 30px;
        margin-top: 75px;
    }
    .row{
        width: 92%!important;
        margin: auto;
    }
}
.storyPage-button{
    @include  d-flex;
    margin-top: 50px!important;
    a{
        width: 323px;
        height: 82px;
        margin: 0px 40px;
        font-size: 2.5rem;
        img {
            width: 30px!important;
            margin-right: 20px!important;
        }
        i{
            font-size:30px!important;
            margin-right: 20px!important;
        }
    }
}
.storyPage-list {
    background: $color-white;
    border-radius:15px;
    border: 2px solid $color-yellow;
    box-shadow: 5px 4px 2px 3px $color-yellow;
    padding: 31px 20px 31px 29px !important;
    width:350px!important;
    margin: 15px;
    &__info{
        justify-content:space-between;
    }
    &__title{
        h3{
            font-weight: 700;
            font-size: 2rem;
        }
        >div{
            padding: 8px 10px;
            width: 178px;
            border: 3px solid #19a5b7;
            border-radius: 1.6rem;
            font-size: 1.2rem;
            font-weight: 700;
            color: #19a5b7;
            margin-top: 10px;
            h5{
                margin:0;
                text-align: center;
                font-weight: 700;
                font-size: 2rem;
            }
        }
    }
    &__content{
        margin:30px 0 25px 0;
        h4{
            font-weight: 700;
            font-size: 1.9rem;
            line-height: 30px;
        }
    }
    p{
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 25px;
    }
    p+p{
        margin-top: 40px
    }
}

.storyPage-thumb{
    @include  d-flex;
    width: 89px;
    height: 89px;
    border-radius:100px;
    background:$color-yellow;
    img {
        width: 65%;
    }
}
.topPage + footer.footer .container {
    background:none;
    height:106px;
}
.dialog-user {
    padding:20px;
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 480px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 105;
    background: $color-white;
    border:1px solid;
    box-shadow: 0px 0px 5px 5px #2125296e;
    border-radius: 20px;
    &__close{
        width:40px;
        position:absolute;
        top: 10px;
        right:10px;
        cursor: pointer;
    }
    &__content{
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
        margin:50px 0 60px 0;
    }
    &__button{
        display:flex;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        a{
            font-size: 1.6rem!important;
        }
    }
}
/*-------------
    Mobile     
--------------*/

@media (max-width:1025px){
    a.recruit-list__button.btn.btn--orange.d-flex {
        width: 180px!important;
        height:35px;
        font-size: 1.2rem!important;
    }
    .title--width {
        margin: 30px auto!important;
        width: 90%;
    }
    .banner__word {
        position: relative;
        margin-top: 180px;
    }
    .banner__word .word-banner__word {
        margin-left: 10px;
    }
    .banner__word .word-banner__noticePC{
        display: none;
    }
    .banner__word .word-banner__title {
        top: -77px;
        width: 120% !important;
        max-width: 120%;
    }
    .banner__word .word-banner__noticeMobile{
        display:block;
    }
    img.word-banner__notice.word-banner__noticeMobile {
        top: 82px;
        width: 102% !important;
        max-width: 102%;
    }
    section.banner {
    }
    .banner__button{
        opacity: 1;
        visibility:visible;
        width: 90%;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .learning .topPage--title {
        margin: 50px 0;
    }
    .learning-box__list{
        h2{
            text-align: center;
        }
    }
    .recruit-list +  .recruit-list,
    .awardsPage-list +.awardsPage-list{
        margin-top: 50px;
    }
    .storyPage-list {
        width: 100%!important; 
        max-width: 100%!important; 
    }
    .storyPage-list + .storyPage-list{
        margin-top: 50px;
    }
    .storyPage {
        background: url(./../img/banner/background_mobile2.png), url(./../img/banner/background_mobile.png) no-repeat center;
        height: 100%;
        padding-bottom: 300px;
        background-size: auto,contain;
        background-position-y: top,bottom;
        background-repeat: no-repeat, no-repeat;
    
    }
    section#storyPage .row{
        padding:0 30px
    }
    .btn--img {
        position: relative;
        width: 186px;
        height: 54px;
    }
    .recruit-box{
        padding: 0 20px;
    }
    .awardsPage-box__item {
        width: 372px;
    }
    .storyPage__title{
        margin:50px 0;
    }
    .learning-box__list{
        width: 50%!important;
    }
    .sm--full{
        width: 100% !important;
    }
    .learning-box__list h2 {
        line-height: 3rem;
        font-size: 2rem;
    }
    .recruit__title {
        top: -36px;
    }
    .storyPage-button .btn{
        height:70px;
    }
    .storyPage-button .btn__content{
        font-size:0.8rem
    }
    .leaning-list {
        border-radius: 18px;
        border-width: 3px;
    }
    .leaning-list__title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 92px;
        top: -45px;
    }
    .leaning-list__number p {
        font-size: 3.5rem;
    }
    .leaning-list__number span {
        padding-top: 0;
        margin-bottom: 14px;
    }
    .btn__content {

        font-size: 1.6rem;
    }
    .list-info__money {
        margin-top: 10px;
    }
    .list-info__money img {
        width: 35px;
    }
    section {
        padding-bottom: 35px;
    }
    .recruit {
        padding-top: 100px;
    }
    .recruit-list {
        padding: 20px!important;
    }
    .awardsPage {
            padding-bottom: 0;
    }
    .learning-box__back{
        bottom:30%;
    }
    .awardsPage-list{
        width: 100%!important;
    }
    .recruit-list__new {
        top: -34px;
        left: -21px;
        width: 65px;
        height: 65px;
        font-size: 2.2rem;
    }
    .btn__content img {
        margin-right: 0.5rem;
    }
    .list-info__thumb {
        max-width: 80px;
        min-width: 50px;
        height: 113px;
    }
    .list-info div:nth-child(2) {
        margin-left: 25px;
    }
    .list-info__money h2 {
        font-size: 2.5rem;
    }
    .recruit-list__design {
        border-radius: 17px;
        margin: 20px 0;
    }
    .recruit-list__title h4 {
        font-weight: 700;
        font-size: 19px;
    }
    .recruit-list__content{
        margin-top: 20px;
    }
    .recruit-list__content p {
        font-size: 01.2rem;
    }
    .recruit-list__button {
        margin-top: 25px;
    }
    .awardsPage-box {
        width: 321px;
        height: 238px;
    }
    .awardsPage-list__content {
        width: 380px;
    }
    .storyPage-button {
        padding: 0!important;
        margin-top: 50px !important;
    }
    .storyPage-button .font--xl {
        font-size: 15px !important;
    }
    .storyPage-button .btn__content img{
        width: 20px!important;
        margin-right: 10px;
    }
    .awardsPage-box__cup {
        top: -118px;
        left: -5px;
    }
    .recruit__title.topPage--title {
        width: 270px;
        top: -67px;
    }
    a.recruit__button,a.storyPage-button{
        height: 60px!important;
    }
    .banner__button a img,.storyPage-button a img {
        margin-right: 5px!important;
    }
    .banner__button a ,.storyPage-button a  {
        font-size: 1.6rem!important;
    }
    .storyPage-thumb {
        width: 85px;
        height: 85px;
    }
    .storyPage-list__title > div {
        width: 160px;
    }
    .storyPage-list__title > div h5 {
        font-size: 1.6rem;
    }
    button.forgotPassword__button a {
        width: 367px!important;
    }
    a.contactForm-done__button.btn.btn--purple.btn--signin--close.font--s.font--b.d-flex.btn-- i {
        font-size: 15px;
        margin-right: 10px;
    }
    .storyPage-list {
        width: 100%!important;

    }
    section#storyPage .row{
        flex-direction: column;
    }
    .storyPage-list__info {
        justify-content: start!important;
    }
    .storyPage-list__title {
        margin-left: 20px;
    }
}
@media (max-width:750px){
    .storyPage-button .btn{
        height:50px!important;
    }
    .row{
        margin:0!important;
        width:100%!important;
    }
    .recruit-list{
        width:95%!important;
        min-width: 95%!important;
    }
    .leaning-list {
        width: 95%!important;
        height: 215px!important;
    }
    a.recruit__button.contactForm-done__button.btn.btn--purple{
        font-size: 2rem!important;
        width:90%!important;
    }
    .storyPage  .storyPage-list {
        width: 100%!important;
        min-width: 100%!important;
    }
    .banner__button{
        width:90%!important;
    }
    .leaning-list__thumb {
        width: 75%;
    }
    .list-info__thumb {
        margin-left: 0
    }
    .awardsPage-list__content {
        width: 90%;
    }
    .awardsPage-list__content p {
        letter-spacing: 0.6px;
    }
    section#storyPage .row {
        padding: 0;
    }
    .storyPage-button a{
        margin: 0px 10px;
    }
    .storyPage-button a i {
        font-size: 25px !important;
        margin-right: 10px !important;
    }
    .storyPage-button a img {
        width: 23px !important;
    }
    .recruit-box.row{
        width:100%!important;
    }
    .storyPage-list__title {
        margin-left: 0;
    }
    .storyPage-list__info {
        justify-content: start!important;
    }
    .storyPage-list__title {
        margin-left: 20px;
    }
    .banner__button i{
        font-size: 25px;
        margin-right: 5px;
    }
    .storyPage-list__content h4 {
        font-size: 2.2rem;
    }
    .awardsPage-list__content {
        height: 100%;
    }
    .awardsPage-list__content p {
        font-size: 1.5rem;
    }
    .awardsPage-box__title h1 {
        font-size: 3rem;
    }
    a.recruit-list__button.btn.btn--orange.d-flex {
        width: 157px !important;
        padding: 3px !important;
        font-size: 1.2rem !important;
        font-weight: 500 !important;
    }
    .list-info__deadline {
        font-size: 1.6rem;
    }
    .list-info__date {
        font-size: 1.5rem;
    }
    .leaning-list__content {
        font-size: 1.4rem;
    }
    .dialog-user {
        width: 95%;
    }
    .dialog-user__content {
        font-size: 1.7rem;
        margin: 39px 0 40px 0px;
    }
    .dialog-user__button {
        width: 100%;
    }
    .dialog-user__button a {
        font-size: 1.4rem !important;
        height: 45px!important;
    }
    .dialog-user__button .contactForm-done__button {
        width: 68%!important;
    }
}
@media (max-width:400px){
    .storyPage-button .storyPage-button__a,
    .banner__button .banner__button__a {
        font-size: 1.6rem!important;
    }
    button.forgotPassword__button a {
        width: 340px!important;
    }
    .header-nav__button .header__button {
        width: 100%!important;
    }
    .recruit-list {
        width: 100% !important;
    }
    .list-info__date {
        font-size: 1.1.6rem!important;
    }
    h5.list-info__deadline.mt-2 {
        font-size: 1.1.6rem;
    }
    .leaning-list__content {
        font-size: 1.2rem;
    }
    .dialog-user__content {
        font-size: 1.4rem;
        margin: 39px 0 40px 0px;
    }
    .dialog-user__button {
        width: 100%;
    }
    .dialog-user__button a {
        font-size: 1.2rem !important;
        height: 45px!important;
    }
    
}
@media(min-width:740px) and (max-width:1025px){

    img.word-banner__word {
        margin-top: 55px;
    }
    
}